<div style="padding: 30px;display: flex; flex-direction: column; justify-content: center;"><h1 mat-dialog-title align="center">{{data?.title}}</h1>
<mat-divider></mat-divider>
<div mat-dialog-content style="margin-top: 25px;">
    <p>{{data?.message}}</p>
</div>

<div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100" style="margin-top: 25px;">
        <button mat-raised-button color="warn" (click)="onDismiss()">No</button>
        <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
    </div>
</div></div>
