
<div class="card p-2">
  <div class="row">
    <div class="col-sm-11 col-md-11 col-lg-11">
      <mat-form-field class="w-100">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search....." #input>
    </mat-form-field>


    </div>
    <div class="col-sm-1 col-md-1 col-lg-1">
      <button class="btn btn-outline-info" (click)="openUserDialog(null)"><mat-icon  class="add-button">add_box</mat-icon></button>

    </div>
  </div>

<div class="mat-table admin-table">
  <div class="mat-header-row k-font-weight-bold">

      <div class="mat-header-cell">User Name</div>
      <div class="mat-header-cell">Email</div>
      <div class="mat-header-cell">Full Name</div>
      <div class="mat-header-cell">Office</div>

      <div class="mat-header-cell">Action</div>
  </div>
  <div *ngFor="let user of users" class="mat-row">

      <div class="mat-cell">{{user.userName}} </div>
      <div class="mat-cell">{{user.email}}</div>
      <div class="mat-cell">{{user.fullName}}</div>
      <div class="mat-cell">{{(offices | filterById : user.officeId)?.name}}</div>
      <div class="mat-cell">
          <div class="p-0 actions">
            <button mat-icon-button matTooltip="Edit" color="primary" (click)="editUser(user)" class="mx-1">
              <mat-icon>mode_edit</mat-icon>
          </button>
           <button mat-icon-button matTooltip="Delete" class="mx-1" color="warn" (click)="deleteUser(user)">
              <mat-icon>delete</mat-icon>
          </button>
          </div>
      </div>
  </div>
</div>
</div>





<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
