// table {
//     width: 100%;
//   }

//   .mat-paginator-range-label {
//       display: none;
//   }

//   .mat-form-field {
//     font-size: 14px;
//     width: 100%;
//   }

//   .mat-form-field-underline {
//     display: none;
//   }
//   /* Border */
//   .mat-form-field-appearance-outline .mat-form-field-outline {
//     color: rgb(255, 255, 255);
//     /* background-color: white; */
//   }
//   ::ng-deep .mat-form-field-underline {
//     display: none;
// }

//   /* Font color */
//   input.mat-input-element {
//     color: rgb(0, 0, 0);
//   }
//   .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
//     border: 0.2px solid #666;
//     opacity: 1;

//     .mat-form-field-outline-start,
//     .mat-form-field-outline-gap,
//     .mat-form-field-outline-end {
//         border: none;
//     }
// }
// .mat-mdc-form-field-flex
// {
// // width: 300px;
// }
::ng-deep .read-only-true .mat-form-field-appearance-fill .mat-form-field-fill .mat-form-field-fill-start {
  border: 1px solid white !important;
}

::ng-deep .read-only-true .mat-form-field-appearance-fill .mat-form-field-fill .mat-form-field-fill-end {
  border: 1px solid white !important;
}
::ng-deep .mat-form-field-appearance-fill.mat-focused .mat-form-field-fill-thick {
  color: red!important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-fill {
  color: white;
}
.mat-bor-rem
{
 // border: 1px solid red;
}
.app.blue .mat-mdc-form-field-focus-overlay
{
   background-color: white !important;
}
.mat-mdc-form-field
{
  display: unset !important;
}
.mat-mdc-form-field-focus-overlay
{
  border:1px solid #fafafa;
  opacity: unset !important;
}
