<h1 mat-dialog-title>Upload Document</h1>
<mat-divider></mat-divider>
<form [formGroup]="yellowCardFormGroup" (ngSubmit)="submitYellowCardRequest()">
  <div  class="row" fxLayout.xs="column" fxLayoutWrap  fxLayoutAlign="center">
    <div class="image-upload" fxFlex="90%">


    </div>
    </div>

      <div  class="row" fxLayout.xs="column" fxLayoutWrap  fxLayoutAlign="center" class="mt-2">
        <div class="image-upload" fxFlex="90%">

          <label>Preflight Trauning Certificate</label>
        <input type="file" (change)="onChangePreflightTrainingCertificate($event)" accept="image/*"    required/>
        </div>
        </div>

      <div  class="row" fxLayout.xs="column" fxLayoutWrap  fxLayoutAlign="center" class="mt-3">
        <div class="image-upload" fxFlex="90%">

          <label>Labour Document</label>
    <input type="file" (change)="onChangeLabourDocument($event)" accept="image/*"    required/>
        </div>
        </div>
    <mat-divider></mat-divider>

    <div  class="row"  class="d-flex justify-content-end align-items-center">
      <div mat-dialog-actions>
        <div class="row" class="d-flex justify-content-between align-items-center" class="w-100">
          <button mat-raised-button color="warn" type="button" mat-dialog-close>
            Close
          </button>
          <button mat-raised-button color="primary" type="submit">Save</button>
        </div>
      </div></div>
</form>
