
 <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
  integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<mat-card>
<mat-card-title  style="height: 50px;  display: flex;justify-content: space-between; align-items: center;">
<div>Applicant Detail</div>
<div *ngIf="selected">
  <button mat-raised-button align="center" (click)="selectApplicant(applicantProfile?.applicantProfileId)" color="primary" title="Select"><mat-icon  class="check">check</mat-icon>Select</button>
  <button mat-raised-button align="center" (click)="rejectApplicant(applicantProfile?.applicantProfileId)" color="warn" title="Reject"><mat-icon  class="reject">close</mat-icon>Reject</button>
</div>

<div *ngIf="checkContractStatus(applicantProfile)">
  <button style="margin-right:25px" mat-raised-button align="center" (click)="uploadContractDocument(applicantProfile?.applicantProfileId)" color="primary" title="Upload"><mat-icon  class="check">cloud_upload</mat-icon></button>
  <button style="margin-right:25px"mat-raised-button align="center" (click)="rejectApplicant(applicantProfile?.applicantProfileId)" color="warn" title="Reject"><mat-icon  class="reject">close</mat-icon></button>
</div>

</mat-card-title>

<mat-card-content>
  <mat-tab-group>
    <mat-tab class="custom-mat-tab-header">

      <ng-template mat-tab-label>
        <mat-icon>book</mat-icon>
        Applicant CV
      </ng-template>
  <div align="end">
    <button
    printSectionId="print-section"
    [useExistingCss]="true"
      ngxPrint>
      <mat-icon>print</mat-icon>
    </button>
    <button type="button" (click)="downloadCV()">Download CV</button>
    <share-buttons theme="circles-dark"
    [include]="['copy', 'facebook', 'email', 'messenger', 'print',  'telegram',  'whatsapp']"
    [showIcon]="true"
    [showText]="false"
    [url]="shareUrl"
    description="Angular Share Buttons"
    class="pt-5">
  </share-buttons>
  </div>
  <div id="print-section">
<app-resume [applicantProfile]= "applicantProfile"></app-resume>
  </div>
</mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>folder</mat-icon>
      Passport
    </ng-template>
    <div class="mat-elevation-z8 tab-content" width="100%">
      <ngx-imgPdf-viewer
      [documentURL]="base_url+applicantProfile.applicantDocument.applicantPassportFilePath"
      [docPreviewConfig]="docPreviewConfig"
    ></ngx-imgPdf-viewer>
    </div>

  </mat-tab>

    <mat-tab *ngIf="isHeadOffice">
      <ng-template mat-tab-label>

        <mat-icon>perm_identity</mat-icon>
        ID
      </ng-template>
      <div class="mat-elevation-z8 tab-content" width="70%">
        <ngx-imgPdf-viewer
        [documentURL]="base_url+applicantProfile.applicantDocument.applicantIdFilePath"
        [docPreviewConfig]="docPreviewConfig"
      ></ngx-imgPdf-viewer>
    </div>

    </mat-tab>
    <mat-tab *ngIf="isHeadOffice">
      <ng-template mat-tab-label>

        <mat-icon>person</mat-icon>
        Contact Person
      </ng-template>
      <div class="mat-elevation-z8 tab-content" width="70%">
        <ngx-imgPdf-viewer
        [documentURL]="base_url+applicantProfile.applicantDocument.applicantSmallPhotoPath"
        [docPreviewConfig]="docPreviewConfig"
      ></ngx-imgPdf-viewer>
   </div>

    </mat-tab>
    <mat-tab *ngIf="isHeadOffice">
      <ng-template mat-tab-label>

      <mat-icon>perm_media</mat-icon>
      Photos
    </ng-template>
      <div class="mat-elevation-z8 tab-content" width="70%">
        <ngx-imgPdf-viewer
        [documentURL]="base_url+applicantProfile.applicantDocument.applicantFullPhotoPath"
        [docPreviewConfig]="docPreviewConfig"
      ></ngx-imgPdf-viewer>
    </div>

    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>

        <mat-icon>video_library</mat-icon>
        Video
      </ng-template>
      <button type="button"
      mat-raised-button
            variant="contained"
      color="primary"
      (click)="download()"
>Download Video</button>
      <div class="video-player-wrapper tab-content" style="width:80%;height: 600px; display: flex; justify-content: center;margin-top: 30px;">
        <vg-player>
          <vg-overlay-play></vg-overlay-play>
          <vg-buffering></vg-buffering>
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
          <vg-controls>
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>
            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
            <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
            <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
            <vg-track-selector></vg-track-selector>
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>
            <vg-fullscreen></vg-fullscreen>
          </vg-controls>
          <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto">
            <source [src]="base_url+applicantProfile.applicantDocument.applicantVideoPath" type="video/mp4">
            <!-- <source src="http://static.videogular.com/assets/videos/videogular.ogg" type="video/ogg">
            <source src="http://static.videogular.com/assets/videos/videogular.webm" type="video/webm"> -->
            <!-- <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt"
              srclang="en" default>
            <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt"
              srclang="es"> -->
          </video>
        </vg-player>

      </div>

    </mat-tab>
    <mat-tab *ngIf="checkVerifiedDoc(applicantProfile?.applicantPlacement)">
      <ng-template mat-tab-label>
        <mat-icon>folder</mat-icon>
        Medical Document
      </ng-template>
      <div class="mat-elevation-z8 tab-content" width="100%">
        <ngx-imgPdf-viewer
        [documentURL]="base_url+applicantProfile?.applicantDocument.applicantMedicalDocumentPath"
        [docPreviewConfig]="docPreviewConfig"
      ></ngx-imgPdf-viewer>
      </div>

    </mat-tab>
    <mat-tab *ngIf="checkVerifiedDoc(applicantProfile?.applicantPlacement)">
      <ng-template mat-tab-label>
        <mat-icon>folder</mat-icon>
        Crime Free Document
      </ng-template>
      <div class="mat-elevation-z8 tab-content" width="100%">
        <ngx-imgPdf-viewer
        [documentURL]="base_url+applicantProfile?.applicantDocument.applicantCrimeCheckfreeDocumentPath"
        [docPreviewConfig]="docPreviewConfig"
      ></ngx-imgPdf-viewer>
      </div>

    </mat-tab>
    <mat-tab *ngIf="checkContractDoc(applicantProfile?.applicantPlacement)">
      <ng-template mat-tab-label>
        <mat-icon>folder</mat-icon>
       Contract Agreement
      </ng-template>
      <div class="mat-elevation-z8 tab-content" width="100%">
        <ngx-imgPdf-viewer
        [documentURL]="base_url+applicantProfile?.applicantDocument.applicantContractAgreementPath"
        [docPreviewConfig]="docPreviewConfig"
      ></ngx-imgPdf-viewer>
      </div>

    </mat-tab>
  </mat-tab-group>
  </mat-card-content>

