<div class="row" *ngIf="router.url != '/admin'">
    <div class="row" class="p-1">
        <mat-card class="row" class="breadcrumb">
            <a *ngIf="router.url != '/admin'" routerLink="/admin" class="breadcrumb-item"   (click)="closeSubMenus()">
                <mat-icon>home</mat-icon>
                <span class="breadcrumb-title">Home</span>
            </a>
            <div *ngFor="let breadcrumb of breadcrumbs; let i = index;" class="breadcrumb-item"  class="d-flex justify-content-start align-items-center">
                <a [hidden]="i == (breadcrumbs.length - 1)" [routerLink]="[breadcrumb.url]">{{breadcrumb.name}}</a>
                <span [hidden]="i != (breadcrumbs.length - 1)" class="breadcrumb-title active">{{breadcrumb.name}}</span>
            </div>
        </mat-card>
    </div>
</div>
