
 <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
  integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<mat-card>
<mat-card-title  style="height: 50px; background-color: #574B9B; display: flex;justify-content: space-between; color: white;align-items: center;">
<div>Applicant Detail</div>
<div *ngIf="checkStatus(applicantProfile)">
  <button mat-raised-button align="center" (click)="selectApplicant(applicantProfile.applicantProfileId)" color="primary" title="Select"><mat-icon  class="check">check</mat-icon></button>
  <button mat-raised-button align="center" (click)="rejectApplicant(applicantProfile.applicantProfileId)" color="warn" title="Reject"><mat-icon  class="reject">close</mat-icon></button>
</div>

</mat-card-title>
<mat-card-content>
  <mat-tab-group>
    <mat-tab class="custom-mat-tab-header">

      <ng-template mat-tab-label>
        <mat-icon>book</mat-icon>
        Applicant CV
      </ng-template>
  <div align="end">
    <button
    printSectionId="print-section"
    [useExistingCss]="true"
      ngxPrint>
      <mat-icon>print</mat-icon>
    </button>
    <share-buttons theme="circles-dark"
    [include]="['copy', 'facebook', 'email', 'messenger', 'print',  'telegram',  'whatsapp']"
    [showIcon]="true"
    [showText]="false"
    url="http://localhost:4200/applicant-profile/detail/1020"
    description="Angular Share Buttons"
    class="pt-5">
  </share-buttons>
  </div>
  <div id="print-section">
    <div class="cv-container">
      <app-report-header office="{{(offices | filterById : applicantProfile.applicantPlacement?.officeId)?.name}}" agent="{{(agents | filterById : applicantProfile.agentId)?.name}}"></app-report-header>
  <div class="personal-detail-conatainer">
    <div class="applicant-profile-header">

      <p align="center"> Personal Detail </p>

    </div>


  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap  fxLayoutAlign="Start">
    <!-- <div fxFlex="10%"></div> -->
    <div fxFlex="50%">
      <diV class="div-row"><label>Full Name:</label><span>{{applicantProfile.fullName}}</span></diV>
      <diV class="div-row"> <label>Phone Number:</label><span>+251{{applicantProfile.phoneNumber}}</span></diV>
        <diV class="div-row"> <label>Passport Number:</label><span>EP{{applicantProfile.passportNo}}</span></diV>
          <diV class="div-row"> <label>Nationality:</label><span>Ethiopian</span></diV>
            <diV class="div-row"><label>Marital Status:</label><span>{{maritalStatusList[applicantProfile.maritalStatus]}}</span></diV>
            <diV class="div-row"><label>No of Children:</label><span>{{applicantProfile.noOfChildren}}</span></diV>
              <diV class="div-row"><label>Gender:</label><span>{{genderList[applicantProfile.gender]}}</span></diV>
              <diV class="div-row"><label>Age:</label><span>{{applicantProfile.age}}</span></diV>

</div>

      <div fxFlex="50%">
        <diV class="div-row"> <label>Reference No:</label><span>{{applicantProfile.referenceNo}}</span></diV>
        <diV class="div-row"><label>Passport Issue Date:</label><span>{{applicantProfile.passportIssueDate | date}}</span></diV>
        <diV class="div-row"><label>Registerd Date:</label><span>{{applicantProfile.createdDate | date}}</span></diV>
        <diV class="div-row"> <label>Passport Expiry Date:</label><span>{{applicantProfile.passportExpiryDate | date}}</span></diV>
        <diV class="div-row"><label>Height:</label><span>{{applicantProfile.height}} m</span></diV>
        <diV class="div-row"><label>Weight:</label><span>{{applicantProfile.weight}} k.g</span></diV>
        <diV class="div-row"> <label>Religion:</label><span>{{religionList[applicantProfile.religion]}}</span></diV>
        <diV class="div-row"> <label>Address:</label><span>{{applicantProfile.city}} {{applicantProfile.wereda}} {{applicantProfile.kebelle}}</span></diV>

    </div>
    </div>

    </div>

    <div class="work-experience-container">
      <div class="applicant-profile-header">
        <p align="center"> Work Experience </p>

</div>

  <div  fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.2%" fxLayoutAlign="Start">
    <!-- <div fxFlex="2%"></div> -->

 <div   fxFlex="100%">
      <table mat-table [dataSource]="workExperienceDataSource" matSort width="100%">
        <!-- ID Column -->
        <ng-container matColumnDef="startDate" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
          <td mat-cell *matCellDef="let row">{{ row.startDate | date }}</td>
        </ng-container>

        <!-- Project Code Column -->
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            End Date
          </th>
          <td mat-cell *matCellDef="let row">{{ row.endDate | date }}</td>
        </ng-container>

        <!-- Project Type Column -->
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration(year)</th>
          <td mat-cell *matCellDef="let row">{{ row.duration }}</td>
        </ng-container>
        <!-- Project Type Column -->
        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
          <td mat-cell *matCellDef="let row">{{ row.country }}</td>
        </ng-container>
        <ng-container matColumnDef="jobDescription">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Job Description
          </th>
          <td mat-cell *matCellDef="let row">{{ row.jobDescription }}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedWorkExperienceColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedWorkExperienceColumns"></tr>
      </table>
    </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.2%" fxLayoutAlign="Start">
      <!-- <div fxFlex="2%"></div> -->
      <div fxFlex="60%">
      <!-- <h4>Full Photo</h4> -->
        <img [src]="base_url+applicantProfile.applicantDocument.applicantFullPhotoPath" width="400px" height="500px">
      </div>

   <div   fxFlex="40%">
    <div class="contact-person-detail-container">
    <!-- <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.2%" fxLayoutAlign="Start">

      <div fxFlex="100%">
        <div class="applicant-profile-header">

        <p align="center"> Contact Person Detail </p>
        </div>

        <diV class="div-row"><label>Full Name:</label><span>{{applicantProfile.contactPerson.fullName}}</span></diV>

    <diV class="div-row"> <label>Phone Number:</label><span>{{applicantProfile.contactPerson.phoneNumber}}</span></diV>

  <diV class="div-row"> <label>Address:</label><span>{{applicantProfile.contactPerson.city}} {{applicantProfile.contactPerson.wereda}} {{applicantProfile.contactPerson.kebelle}}</span></diV>
</div>
</div> -->


    </div>
        <table mat-table [dataSource]="experiencedJobDataSource" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="job">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Job</th>
            <td mat-cell *matCellDef="let row">

              {{(jobs | filterById : row.commonJobId)?.name}}</td>
          </ng-container>

          <!-- Project Code Column -->
          <ng-container matColumnDef="haveExperience">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Experience
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.haveExperience? "Yes" :"No" }}</td>
          </ng-container>




          <tr mat-header-row *matHeaderRowDef="displayedExperiencedJobsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedExperiencedJobsColumns"></tr>
        </table>
      </div>
      </div>
    </div>
    </div>
  </div>
</mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>folder</mat-icon>
      Passport
    </ng-template>
    <div class="mat-elevation-z8 tab-content" width="100%">
      <ngx-imgPdf-viewer
      [documentURL]="base_url+applicantProfile.applicantDocument.applicantPassportFilePath"
      [docPreviewConfig]="docPreviewConfig"
    ></ngx-imgPdf-viewer>
    </div>

  </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>

        <mat-icon>perm_identity</mat-icon>
        ID
      </ng-template>
      <div class="mat-elevation-z8 tab-content" width="70%">
        <ngx-imgPdf-viewer
        [documentURL]="base_url+applicantProfile.applicantDocument.applicantIdFilePath"
        [docPreviewConfig]="docPreviewConfig"
      ></ngx-imgPdf-viewer>
    </div>

    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>

        <mat-icon>person</mat-icon>
        Contact Person
      </ng-template>
      <div class="mat-elevation-z8 tab-content" width="70%">
        <ngx-imgPdf-viewer
        [documentURL]="base_url+applicantProfile.applicantDocument.applicantSmallPhotoPath"
        [docPreviewConfig]="docPreviewConfig"
      ></ngx-imgPdf-viewer>
   </div>

    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>

      <mat-icon>perm_media</mat-icon>
      Photos
    </ng-template>
      <div class="mat-elevation-z8 tab-content" width="70%">
        <ngx-imgPdf-viewer
        [documentURL]="base_url+applicantProfile.applicantDocument.applicantFullPhotoPath"
        [docPreviewConfig]="docPreviewConfig"
      ></ngx-imgPdf-viewer>
    </div>

    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>

        <mat-icon>video_library</mat-icon>
        Video
      </ng-template>
      <div class="video-player-wrapper tab-content" style="width:80%;height: 600px; display: flex; justify-content: center;margin-top: 30px;">
        <vg-player>
          <vg-overlay-play></vg-overlay-play>
          <vg-buffering></vg-buffering>
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
          <vg-controls>
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>
            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
            <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
            <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
            <vg-track-selector></vg-track-selector>
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>
            <vg-fullscreen></vg-fullscreen>
          </vg-controls>
          <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" crossorigin>
            <source [src]="base_url+applicantProfile.applicantDocument.applicantVideoPath" type="video/mp4">
            <!-- <source src="http://static.videogular.com/assets/videos/videogular.ogg" type="video/ogg">
            <source src="http://static.videogular.com/assets/videos/videogular.webm" type="video/webm"> -->
            <!-- <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt"
              srclang="en" default>
            <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt"
              srclang="es"> -->
          </video>
        </vg-player>

      </div>

    </mat-tab>
    <mat-tab *ngIf="checkVerifiedDoc(applicantProfile.applicantPlacement)">
      <ng-template mat-tab-label>
        <mat-icon>folder</mat-icon>
        Medical Document
      </ng-template>
      <div class="mat-elevation-z8 tab-content" width="100%">
        <ngx-imgPdf-viewer
        [documentURL]="base_url+applicantProfile.applicantDocument.applicantMedicalDocumentPath"
        [docPreviewConfig]="docPreviewConfig"
      ></ngx-imgPdf-viewer>
      </div>

    </mat-tab>
    <mat-tab *ngIf="checkVerifiedDoc(applicantProfile.applicantPlacement)">
      <ng-template mat-tab-label>
        <mat-icon>folder</mat-icon>
        Crime Free Document
      </ng-template>
      <div class="mat-elevation-z8 tab-content" width="100%">
        <ngx-imgPdf-viewer
        [documentURL]="base_url+applicantProfile.applicantDocument.applicantCrimeCheckfreeDocumentPath"
        [docPreviewConfig]="docPreviewConfig"
      ></ngx-imgPdf-viewer>
      </div>

    </mat-tab>
    <mat-tab *ngIf="checkContractDoc(applicantProfile.applicantPlacement)">
      <ng-template mat-tab-label>
        <mat-icon>folder</mat-icon>
       Contract Agreement
      </ng-template>
      <div class="mat-elevation-z8 tab-content" width="100%">
        <ngx-imgPdf-viewer
        [documentURL]="base_url+applicantProfile.applicantDocument.applicantContractAgreementPath"
        [docPreviewConfig]="docPreviewConfig"
      ></ngx-imgPdf-viewer>
      </div>

    </mat-tab>
  </mat-tab-group>
  </mat-card-content>
</mat-card>
