
<main class="main-content">
  <section class="left-section">
      <div class="left-content">
          <div class="profile">
              <div class="image">
                  <img [src]="base_url+applicantProfile?.applicantDocument?.applicantSmallPhotoPath" alt="">
              </div>
          </div>
          <div class="name-left-section">
            <h4>{{applicantProfile?.firstName}}  {{applicantProfile?.middleName}}</h4>
            <p>Ethiopian</p>
            <div class="contact-section">
              <!-- <div class="title-section">
                <div class="line">
                </div>
                <h2>Contact</h2>
                <div class="line">
                </div>
              </div> -->
              <!-- <img src="/assets/facebook.png"> -->
              <!-- <p class="para">fb.com/g1daniel</p> -->
              <!-- <img src="/assets/whatsapp.png"> -->
              <!-- <p class="para">youtube.com/g1daniel</p> -->
              <!-- <img src="/assets/instagram.png"> -->
              <!-- <p class="para">fb.com/g1daniel</p> -->
            </div>
          </div>
          <div class="skills-section">
            <h3 class="main-title">Skills</h3>
            <ul>
                <li *ngFor="let item of getSkills(applicantProfile?.workExperiences)" >
                  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                    <div fxFlex="100" fxFlex.gt-sm="60" class="px-1"> <p class="skill-title">{{item}}</p></div>
                    <div fxFlex="100" fxFlex.gt-sm="50"><mat-icon style="color: #ffc20b">
                      star
                    </mat-icon> </div>
                  </div>


                                 </li>


            </ul>
        </div>

        <!-- <div class="skills-section">
          <h3 class="main-title">Language</h3>
          <ul>
              <li>
                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                  <div fxFlex="100" fxFlex.gt-sm="60" class="px-1"> <p class="skill-title">Arabic</p></div>
                  <div fxFlex="100" fxFlex.gt-sm="50"><mat-icon style="color: #ffc20b">
                    stars
                  </mat-icon> </div>
                </div>


                               </li>


          </ul>
      </div> -->

      </div>
  </section>
  <section class="right-section">
    <!-- <div class="name-section">
    </div> -->
      <div class="right-main-content">
          <section class="about sect">
            <div class="row wrap">
              <div fxFlex="100" fxFlex.gt-sm="60"> <h5 class="right-title" >Passport Details </h5></div>
              <div fxFlex="100" fxFlex.gt-sm="25"> <ngx-barcode *ngFor="let bcValue of values" [bc-value]="'EP'+bcValue"  [bc-line-color]="lineColor"
                [bc-width]="widthone" [bc-height]="height" [bc-display-value]="displayValueT" [bc-font-options]="fontOptions" [bc-font]="font"
                [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background"
                [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight">
              </ngx-barcode></div>
            </div>


           <div class="title-bottom-line"></div>
           <div class="details-section">
            <div class="left-detail-section">

              <div class="detail">
                <p class="type-title">Given Name</p>
                <p class="para">{{applicantProfile?.firstName}} {{applicantProfile?.middleName}}</p>
              </div>
              <div class="detail">
                <p class="type-title">Passport No</p>
                <p class="para">EP{{applicantProfile?.passportNo}}</p>
              </div>
              <div class="detail">
                <p class="type-title">Date of Birth</p>
                <p class="para">{{applicantProfile?.doB | date}}</p>
              </div>

            </div>
            <div class="right-detail-section">
              <div class="detail">
                <p class="type-title">Sur Name</p>
                <p class="para">{{applicantProfile?.lastName}}</p>
              </div>
              <div class="detail">
                <p class="type-title">Issue Date</p>
                <p class="para">{{applicantProfile?.passportIssueDate | date}}</p>
              </div>

              <div class="detail">
                <p class="type-title">Expiry Date</p>
                <p class="para">{{applicantProfile?.passportExpiryDate | date}}</p>
              </div>

            </div>
           </div>
          </section>
          <section class="about sect">
            <h5 class="right-title" >Personal Details</h5>
            <div class="title-bottom-line"></div>
            <div class="details-section">
             <div class="left-detail-section">

               <div class="detail">
                 <p class="type-title">Age</p>
                 <p class="para">{{(applicantProfile?.age)}}</p>
               </div>

               <div class="detail">
                 <p class="type-title">Marital Status</p>
                 <p class="para">{{maritalStatusList[applicantProfile?.maritalStatus]}}</p>
               </div>
               <div class="detail">
                 <p class="type-title">No of Children</p>
                 <p class="para">{{applicantProfile?.noOfChildren}}</p>
               </div>
               <div class="detail">
                 <p class="type-title">Gender</p>
                 <p class="para">{{genderList[applicantProfile?.gender]}}</p>
               </div>

             </div>
             <div class="right-detail-section">



               <div class="detail">
                 <p class="type-title">Height</p>
                 <p class="para">{{applicantProfile?.height}} m</p>
               </div>
               <div class="detail">
                 <p class="type-title">Weight</p>
                 <p class="para">{{applicantProfile?.weight}} k.g</p>
               </div>
               <div class="detail">
                 <p class="type-title">Religion</p>
                 <p class="para">{{religionList[applicantProfile?.religion]}}</p>
               </div>
               <div class="detail">
                <p class="type-title">Address</p>
                <p class="para">{{applicantProfile?.city}} {{applicantProfile?.wereda}} {{applicantProfile?.kebelle}}</p>
              </div>
             </div>
            </div>
           </section>

          <section class="experince sect">
              <h5 class="right-title">Experience</h5>
              <div class="title-bottom-line"></div>

              <div class="timeline">
                <div fxLayout="row wrap">
                  <div fxFlex="100" fxFlex.gt-sm="40" class="px-1">
                  <div class="right-tl-content" *ngFor="let workExp of applicantProfile?.workExperiences">
                      <div class="tl-content"  >
                          <h6 class="tl-title-2">{{workExp?.country}}</h6>

                          <p class="para">
                            {{workExp?.duration}} yrs of exprience
                        </p>
                        <p class="para">
                          {{  getJobDescription(workExp?.jobDescription)}}
                          </p>
                      </div>
                  </div>
                  <div  id="qrcode-print" class="qrcode">
                    <qrcode
                      [qrdata]="domain_base_url+this.applicantProfile.applicantProfileId"
                      [width]="150"
                      [allowEmptyString]="true"
                      [errorCorrectionLevel]="'M'"
                    >
                    </qrcode>
                  </div>
                </div>

                <div fxFlex="100" fxFlex.gt-sm="60" class="px-1">
                 <img [src]="base_url+applicantProfile?.applicantDocument?.applicantFullPhotoPath" class="full-photo" >
                  </div>
                </div>
              </div>



          </section>
          <div class="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="25">
              <ngx-barcode class="w-100" *ngFor="let bcValue of values" [bc-value]="bcValue"  [bc-line-color]="lineColor"
              [bc-width]="width" [bc-height]="heightl" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font"
              [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background"
              [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight">
            </ngx-barcode>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25">
              <ngx-barcode class="w-100" *ngFor="let bcValue of values" [bc-value]="bcValue"  [bc-line-color]="lineColor"
              [bc-width]="width" [bc-height]="heightl" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font"
              [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background"
              [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight">
            </ngx-barcode>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25">
              <ngx-barcode class="w-100" *ngFor="let bcValue of values" [bc-value]="bcValue"  [bc-line-color]="lineColor"
              [bc-width]="width" [bc-height]="heightl" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font"
              [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background"
              [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight">
            </ngx-barcode>
            </div>
            <!-- <div fxFlex="100" fxFlex.gt-sm="25">
              <ngx-barcode class="w-100" *ngFor="let bcValue of values" [bc-value]="bcValue"  [bc-line-color]="lineColor"
              [bc-width]="width" [bc-height]="height" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font"
              [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background"
              [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight">
            </ngx-barcode>
            </div> -->
                          </div>
      </div>
  </section>
</main>








