.mat-badge-content {
  font-size: 12px; /* adjust the font size as needed */
  padding: 2px 8px; /* adjust the padding as needed */
margin-left: 10px;
}
.mat-tab-group {
  width: 300px; /* Adjust the width as needed */
}

.mat-tab-group .mat-tab-labels {
  margin-top: 20px; /* Adjust the margin as needed */
}
.responsive-tabs {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;

    .mat-tab-label {
      width: 100%;
    }
  }
}
.mat-tab-label-active {
  /* Add your custom styles for the active tab label here */
  font-weight: bold;
  color: rgb(119, 27, 24) !important;
}
