<mat-card-content>
  <form class="user-search" *ngIf="isHeadOffice">
    <mat-form-field appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Search" type="text"  [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}"(ngModelChange)="onChangeUser($event)">
      <!-- Replace "search" with the appropriate icon name if you want a different icon -->
      <!-- matPrefix adds the icon at the beginning of the input -->
    </mat-form-field>
    <!-- <mat-form-field appearance="outline" >
        <input matInput placeholder="Search..." >
    </mat-form-field> -->

  <mat-form-field appearance="outline" style="margin-left: 10px;">
    <mat-label>Start Date - End Date</mat-label>
    <mat-date-range-input  [rangePicker]="picker">
      <input matStartDate [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}" placeholder="Start date">
      <input matEndDate [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<mat-form-field appearance="outline" style="margin-left: 10px;">
  <mat-label>Status</mat-label>
    <mat-select name="maritalStatus" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChangeOffice($event)">
      <mat-option *ngFor="let status of statuses"
      [value]="status">
{{statusList[status]}}
</mat-option>
</mat-select>

  </mat-form-field>


  <mat-form-field appearance="outline" style="margin-left: 10px;">
    <mat-label>Office</mat-label>
    <mat-select name="officeId" [(ngModel)]="searchText"   (ngModelChange)="onChangeOffice($event)">
      <mat-option *ngFor="let office of offices"
      [value]="office.id">
{{office.name}}
</mat-option>
</mat-select>

  </mat-form-field>

</form>
<mat-divider></mat-divider>

  <tabset #tabs>
    <tab (selectTab)="onChangeTab(4)">
      <ng-template tabHeading><i class="bi bi-envelope-check-fill p-1"></i>Processing <span *ngIf="selectedTab==4" class="badge bg-slate-900">{{totalItems}}</span></ng-template>


<app-applicant-list [applicantProfiles]="applicantProfiles" [pageNumber]="pageNumber" [totalItems]="totalItems"></app-applicant-list>

  </tab>

<tab (selectTab)="onChangeTab(3)">
  <ng-template tabHeading><i class="bi bi-person-fill-check  p-1"></i>Selected <span *ngIf="selectedTab==3" class="badge bg-slate-900">{{totalItems}}</span></ng-template>
<app-applicant-list [applicantProfiles]="applicantProfiles" [pageNumber]="pageNumber" [totalItems]="totalItems"></app-applicant-list>

</tab>
<tab (selectTab)="onChangeTab(2)">
  <ng-template tabHeading><i class="bi bi-send-check  p-1"></i>Candidates <span *ngIf="selectedTab==2" class="badge bg-slate-900">{{totalItems}}</span></ng-template>

<app-applicant-list [applicantProfiles]="applicantProfiles" [pageNumber]="pageNumber" [totalItems]="totalItems"></app-applicant-list>

</tab>
<tab (selectTab)="onChangeTab(1)"   *ngIf="isHeadOffice"   >
  <ng-template tabHeading><i class="bi bi-person-plus-fill p-1"></i>Applicants <span *ngIf="selectedTab==1" class="badge bg-slate-900">{{totalItems}}</span></ng-template>


<app-applicant-list [applicantProfiles]="applicantProfiles" [pageNumber]="pageNumber" [totalItems]="totalItems"></app-applicant-list>

</tab>



  </tabset>
  <div *ngIf="applicantProfiles.length>0" class="row">
    <div fxFlex="100" class="p-1">
        <mat-card class="p-0 text-center">
            <pagination-controls class="product-pagination" [autoHide]='true' [maxSize]='8' (pageChange)="onPageChanged($event)"></pagination-controls>


        </mat-card>
    </div>
  </div>
  </mat-card-content>
