.mat-badge-content {
  font-size: 12px; /* adjust the font size as needed */
  padding: 2px 8px; /* adjust the padding as needed */
margin-left: 10px;
}
.mat-tab-group {
  width: 300px; /* Adjust the width as needed */
}

.mat-tab-group .mat-tab-labels {
  margin-top: 20px; /* Adjust the margin as needed */
}
