<mat-card-content>
  <form class="user-search" *ngIf="isHeadOffice">
    <div class="row">
    <div class="col-sm-11 col-md-11 col-lg-11 form-group has-search" >
      <span class="fa fa-search form-control-feedback"></span>
      <input class="form-control form-control-lg my-2 border " type="search" placeholder="Search"  [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}"(ngModelChange)="onChangeUser($event)" id="example-search-input">
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1 my-2">
      <button class="btn btn-sm" (click)="openFilter()"><i class="bi bi-filter-square-fill fs-3"></i>
      </button>
    </div>
  </div>


</form>
<mat-divider></mat-divider>

  <tabset #tabs>
    <tab (selectTab)="onChangeTab(5)">
      <ng-template tabHeading><i class="bi bi-envelope-check-fill p-1"></i>Processing <span *ngIf="selectedTab==4" class="badge bg-secondary">{{totalItems}}</span></ng-template>


<app-applicant-list [applicantProfiles]="applicantProfiles" [pageNumber]="pageNumber" [totalItems]="totalItems" [candidateType]="selectedTab"></app-applicant-list>

  </tab>

<tab (selectTab)="onChangeTab(4)">
  <ng-template tabHeading><i class="bi bi-person-fill-check  p-1"></i>Selected <span *ngIf="selectedTab==3" class="badge bg-secondary">{{totalItems}}</span></ng-template>
<app-applicant-list [applicantProfiles]="applicantProfiles" [pageNumber]="pageNumber" [totalItems]="totalItems"  [candidateType]="selectedTab"></app-applicant-list>

</tab>
<tab (selectTab)="onChangeTab(3)">
  <ng-template tabHeading><i class="bi bi-cart-plus-fill"></i>{{isAdmin?'Approved':'Candidates'}} <span *ngIf="selectedTab==2" class="badge bg-secondary">{{totalItems}}</span></ng-template>

<app-applicant-list [applicantProfiles]="applicantProfiles" [pageNumber]="pageNumber" [totalItems]="totalItems" [candidateType]="selectedTab"></app-applicant-list>

</tab>

<tab (selectTab)="onChangeTab(2)" *ngIf="isAdmin">
  <ng-template tabHeading><i class="bi bi-send-check  p-1"></i>Candidates <span *ngIf="selectedTab==2" class="badge bg-secondary">{{totalItems}}</span></ng-template>

<app-applicant-list [applicantProfiles]="applicantProfiles" [pageNumber]="pageNumber" [totalItems]="totalItems" [candidateType]="selectedTab"></app-applicant-list>

</tab>
<tab (selectTab)="onChangeTab(1)"   *ngIf="isHeadOffice"   >
  <ng-template tabHeading><i class="bi bi-person-plus-fill p-1"></i>Applicants <span *ngIf="selectedTab==1" class="badge bg-secondary" >{{totalItems}}</span></ng-template>


<app-applicant-list [applicantProfiles]="applicantProfiles" [pageNumber]="pageNumber" [totalItems]="totalItems" [candidateType]="selectedTab"></app-applicant-list>

</tab>



  </tabset>
  <div *ngIf="applicantProfiles.length>0" class="row">
    <div fxFlex="100" class="p-1">
        <mat-card class="p-0 text-center">
            <pagination-controls class="product-pagination" [autoHide]='true' [maxSize]='8' (pageChange)="onPageChanged($event)"></pagination-controls>


        </mat-card>
    </div>
  </div>
  </mat-card-content>
