<div fxLayout="row" fxLayoutAlign="space-between center" class="p-1">
  <div fxLayout="row">
      <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy">
          <mat-button-toggle value="add" [routerLink]="['/applicant-profile/create-new']" *ngIf="isHeadOffice">
              <mat-icon>person_add</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="search">
              <mat-icon>search</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="date-range">
            <mat-icon>date_range</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="created-by">
          <mat-icon>person</mat-icon>
      </mat-button-toggle>
        <mat-button-toggle value="status">
          <mat-icon>filter_list</mat-icon>
      </mat-button-toggle>
      </mat-button-toggle-group>



  </div>
  <form class="user-search" [class.show]="controls.value == 'search'">
      <mat-form-field class="user-search-input">
          <input matInput placeholder="Search user by name..." [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" name="search">
      </mat-form-field>
  </form>
  <form class="user-search" [class.show]="controls.value == 'date-range'">
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input  [rangePicker]="picker">
        <input matStartDate [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}" placeholder="Start date">
        <input matEndDate [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

    </mat-form-field>
  </form>
  <form class="user-search" [class.show]="controls.value == 'status'">
    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select name="maritalStatus" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let status of statuses"
        [value]="status">
  {{statusList[status]}}
</mat-option>
</mat-select>

    </mat-form-field>
  </form>
  <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-button-toggle-group #viewType="matButtonToggleGroup" appearance="legacy" value="grid">
          <mat-button-toggle value="grid">
              <mat-icon>view_module</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="list">
              <mat-icon>view_list</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="table">
            <mat-icon>view_column</mat-icon>
        </mat-button-toggle>

      </mat-button-toggle-group>
  </div>
</div>

<div *ngIf="viewType.value == 'grid'" fxLayout="row wrap">
  <div *ngFor="let applicantProfile of applicantProfiles  | paginate: { itemsPerPage: 8, currentPage: pageNumber,totalItems: totalItems }" fxFlex="100" fxFlex.gt-md="25" fxFlex.md="40" class="p-1">
      <mat-card class="p-0">
          <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
              <h3 *ngIf="!applicantProfile.isDeleted" class="user-name">{{applicantProfile.fullName}}</h3>
              <!-- <br>{{applicantProfile.fullNameAm}} -->
              <!-- <p style="font-size: 3.5vw;"></p> -->
              <h3 *ngIf="applicantProfile.isDeleted" class="user-name">User blocked</h3>
              <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                  <mat-icon>more_vert</mat-icon>
              </button>
          </div>
          <mat-menu #menu="matMenu" xPosition="before" overlapTrigger="true">
              <span (mouseleave)="menuTrigger.closeMenu()">
                  <button mat-menu-item (click)="openApplicantProfileDialog(applicantProfile)" *ngIf="isHeadOffice">
                      <mat-icon>mode_edit</mat-icon>
                      <span>Edit</span>
                  </button>
                  <button *ngIf="checkDeleteStatus(applicantProfile.applicantStatuses[0]) && isHeadOffice"  mat-menu-item (click)="deleteApplicantProfile(applicantProfile.applicantProfileId)">
                    <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                  </button>
                  <button *ngIf="checkRejectStatus(applicantProfile.applicantStatuses[0]) && isHeadOffice"  mat-menu-item (click)="rejectApplicantProfile(applicantProfile.applicantProfileId)">
                    <mat-icon>cancel</mat-icon>
                      <span>Reject</span>
                  </button>
                  <a mat-menu-item [routerLink]="['/applicant-profile/detail', applicantProfile.applicantProfileId]">
                    <mat-icon>details</mat-icon>
                    <span>Detail</span>
                </a>

                  <a mat-menu-item [routerLink]="['/applicant-profile/process', applicantProfile.applicantProfileId]">
                    <mat-icon>trending_up</mat-icon>
                    <span>Process</span>
                </a>
              </span>
          </mat-menu>
          <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
              <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
                  <div class="user-img">
                      <img *ngIf="applicantProfile?.applicantDocument?.applicantSmallPhotoPath" [src]="host+applicantProfile.applicantDocument?.applicantSmallPhotoPath" class="transition-2" [class.blocked]="applicantProfile.isDeleted">
                      <img *ngIf="!applicantProfile.image" src="assets/images/others/applicantProfile.jpg" class="transition-2" [class.blocked]="applicantProfile.isDeleted">
                      <mat-icon *ngIf="applicantProfile.isDeleted" color="warn">block</mat-icon>
                  </div>
                  <div class="user-social">
                      <mat-slide-toggle color="primary" [checked]="applicantProfile.isDeleted" (change)="applicantProfile.isDeleted = !applicantProfile.isDeleted"></mat-slide-toggle>
                  </div>
              </div>
              <div fxFlex="70" fxLayout="column" class="user-details transition-2" [class.blocked]="applicantProfile.isDeleted">
                  <!-- <p fxLayout="row" fxLayoutAlign="start center">
                      <mat-icon class="text-muted">where_to_vote</mat-icon>
                      <span>{{applicantProfile.nationality}}</span>
                  </p> -->
                  <p fxLayout="row" fxLayoutAlign="start center">
                      <mat-icon class="text-muted">mail_outline</mat-icon>
                      <span>{{applicantProfile.passportNo}}</span>
                  </p>
                  <p fxLayout="row" fxLayoutAlign="start center">
                      <mat-icon class="text-muted">call</mat-icon>
                      <span>{{applicantProfile.phoneNumber}}</span>
                  </p>
                  <p fxLayout="row" fxLayoutAlign="start center">
                      <mat-icon class="text-muted">people</mat-icon>
                      <span>    {{genderList[applicantProfile.gender]}}   </span>
                  </p>
                  <p fxLayout="row" fxLayoutAlign="start center">
                      <mat-icon class="text-muted">wc</mat-icon>
                      <span>    {{maritalStatusList[applicantProfile.maritalStatus]}}   </span>
                  </p>
                  <p fxLayout="row" fxLayoutAlign="start center">
                      <mat-icon class="text-muted">wc</mat-icon>
                      <span>    {{applicantProfile.applicantStatuses[0]?statusList[applicantProfile.applicantStatuses[0].status]:"UnAssigned"}}   </span>
                  </p>
              </div>
          </div>
      </mat-card>
  </div>
</div>
<div *ngIf="viewType.value == 'list'" fxLayout="row wrap">
  <div *ngFor="let applicantProfile of applicantProfiles | UserSearchPipe : searchText  | paginate: { itemsPerPage: 8, currentPage: pageNumber,totalItems: totalItems }" fxFlex="100" class="p-1">
      <mat-card class="p-0">
          <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
              <h3 *ngIf="!applicantProfile.isDeleted" class="user-name">{{applicantProfile.fullName}}</h3>
              <h3 *ngIf="applicantProfile.isDeleted" class="user-name">User blocked</h3>
              <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                  <mat-icon>more_vert</mat-icon>
              </button>
          </div>
          <mat-menu #menu="matMenu" xPosition="before"  overlapTrigger="true">
              <span (mouseleave)="menuTrigger.closeMenu()">
                  <button mat-menu-item (click)="openApplicantProfileDialog(applicantProfile);" *ngIf="isHeadOffice">
                      <mat-icon>mode_edit</mat-icon>
                      <span>Edit</span>
                  </button>
                  <button  mat-menu-item (click)="deleteApplicantProfile(applicantProfile.applicantProfileId)" *ngIf="checkDeleteStatus(applicantProfile.applicantStatuses[0])  && isHeadOffice">
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                  </button>
                  <a mat-menu-item [routerLink]="['/applicant-profile/detail', applicantProfile.applicantProfileId]">
                    <mat-icon>details</mat-icon>
                    <span>Detail</span>
                </a>
                <a mat-menu-item [routerLink]="['/applicant-profile/process', applicantProfile.applicantProfileId]">
                  <mat-icon>trending_up</mat-icon>
                  <span>Process</span>
              </a>
              </span>
          </mat-menu>
          <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
              <div fxFlex="20" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center">
                  <div class="user-img">
                    <img *ngIf="applicantProfile?.applicantDocument?.applicantSmallPhotoPath" [src]="host+applicantProfile.applicantDocument?.applicantSmallPhotoPath" class="transition-2" [class.blocked]="applicantProfile.isDeleted">
                    <img *ngIf="!applicantProfile.image" src="assets/img/applicantProfiles/default-applicantProfile.jpg" class="transition-2" [class.blocked]="applicantProfile.isDeleted">
                      <mat-icon *ngIf="applicantProfile.isDeleted" color="warn">block</mat-icon>
                  </div>
                  <div class="user-social">
                      <mat-slide-toggle color="primary" [checked]="applicantProfile.isDeleted" (change)="applicantProfile.isDeleted = !applicantProfile.isDeleted"></mat-slide-toggle>
                  </div>
              </div>
              <div fxFlex="80" fxFlex.xs="70" fxLayout="row" fxLayout.xs="column" class="user-details transition-2" [class.blocked]="applicantProfile.isDeleted">
                  <div fxFlex="30" fxFlex.xs="100" fxLayout="column">
                      <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="text-muted">business</mat-icon>
                          <span>{{applicantProfile.nationality}}</span>
                        </p>
                      <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="text-muted">card_membership</mat-icon>
                          <span>{{applicantProfile.passportNo}}</span>
                        </p>
                      <p fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="text-muted">call</mat-icon>
                        <span>{{applicantProfile.phoneNumber}}</span>
                      </p>
                      <p fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="text-muted">location_on</mat-icon>
                        <span>{{applicantProfile.address}}</span>
                      </p>
                  </div>
                  <div fxFlex="30" fxFlex.xs="100" fxLayout="column">
                      <p fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="text-muted">people</mat-icon>
                        <span>    {{genderList[applicantProfile.gender]}}   </span>
                      </p>
                      <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="text-muted">wc</mat-icon>
                          <span>    {{religionList[applicantProfile.religion]}}   </span>
                                              </p>




                                              <p fxLayout="row" fxLayoutAlign="start center">
                                                <mat-icon class="text-muted">wc</mat-icon>
                                                <span>    {{maritalStatusList[applicantProfile.maritalStatus]}}   </span>
                                                                    </p>
                      <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="text-muted">location_on</mat-icon>
                          <span>{{applicantProfile.age}}</span>
                      </p>
                  </div>
                  <div fxFlex="40" fxFlex.xs="100" fxLayout="column">
                      <!-- <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="text-muted">event_available</mat-icon>
                          <span>Expired {{applicantProfile.availabilityYear}}</span>
                        </p> -->
                      <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="text-muted">event_available</mat-icon>
                          <span>{{applicantProfile.height}}</span>
                      </p>
                      <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="text-muted">date_range</mat-icon>
                          <span> {{applicantProfile.weight}}</span>
                      </p>
                      <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon class="text-muted">date_range</mat-icon>
                          <span> {{applicantProfile.createdDate | date}}</span>
                      </p>
                      <p fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="text-muted">wc</mat-icon>
                        <span>    {{applicantProfile.applicantStatuses[0]?statusList[applicantProfile.applicantStatuses[0].status]:"UnAssigned"}}   </span>
                    </p>
                      <!-- <p fxLayout="row" fxLayoutAlign="start center">
                          <mat-icon *ngIf="applicantProfile.isDeleted" class="text-muted">person_outline</mat-icon>
                          <mat-icon *ngIf="!applicantProfile.isDeleted" class="text-muted">person</mat-icon>
                          <span>{{ (applicantProfile.isDeleted) ? 'Blocked' : 'Active' }}</span>
                      </p> -->
                  </div>
              </div>
          </div>
      </mat-card>
  </div>
</div>

<div *ngIf="viewType.value == 'table'" fxLayout="row wrap">
   <div  fxFlex="100" class="p-1" >
      <mat-card class="p-0">
        <div *ngIf="isAnySelected&&isHeadOffice" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start">
          <div [formGroup]="placementFormGroup">

   <mat-form-field appearance="outline">
    <mat-label>Office</mat-label>
    <mat-select formControlName="officeId" required>
      <mat-option *ngFor="let office of offices"
      [value]="office.id">
{{office.name}}
</mat-option>
  </mat-select>

  </mat-form-field>
          </div>
          <div>
          <button mat-button (click)="placeApplicant();" style="background-color: dodgerblue; height: 54px;color: white;">
             <mat-icon matPrefix title="Assign">redo</mat-icon> Assign</button>
      </div>
        </div>

        <div class="p-1">
          <mat-card class="p-0">
              <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
                  <h2>Labour List</h2>
                  <button mat-raised-button color="primary" [routerLink]="['/applicant-profile/create-new']" *ngIf="isHeadOffice">Add New</button>
              </div>
              <mat-divider></mat-divider>
              <div class="mat-table admin-table">
                  <div class="mat-header-row">
                      <div class="mat-header-cell">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
                      </div>
                      <div class="mat-header-cell">No.</div>
                      <div class="mat-header-cell">Full Name</div>
                      <div class="mat-header-cell">Phone No</div>
                      <div class="mat-header-cell">Passport No</div>
                      <div class="mat-header-cell">Agent</div>
                      <div class="mat-header-cell">Process</div>
                      <div class="mat-header-cell">Status</div>
                      <div class="mat-header-cell"></div>
                  </div>
                  <div *ngFor="let applicantProfile of applicantProfiles | UserSearchPipe : searchText| paginate: { itemsPerPage: 8, currentPage: pageNumber,totalItems: totalItems }" class="mat-row">
                      <div class="mat-cell">
                          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selectRow(applicantProfile) : null"
                        [checked]="selection.isSelected(applicantProfile)">
          </mat-checkbox>
         </div>
                      <div class="mat-cell">{{applicantProfile.applicantProfileId}} </div>
                      <div class="mat-cell">{{applicantProfile.fullName}}</div>
                      <div class="mat-cell">{{applicantProfile.phoneNumber}}</div>
                      <div class="mat-cell">{{applicantProfile.passportNo}}</div>
                      <div class="mat-cell">                      {{(agents | filterById : applicantProfile.agentId)?.name}}
                      </div>
                      <div class="mat-cell"> {{applicantProfile.applicantStatuses[0]?applicantProfile.applicantStatuses[0].officeLevel:"UnAssigned"}}</div>
                      <div class="mat-cell"> {{applicantProfile.applicantStatuses[0]?applicantProfile.applicantStatuses[0].status:"UnAssigned"}}
                      </div>
                      <div class="mat-cell">
                          <div class="p-0 actions">
                            <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before"  overlapTrigger="true">
                              <span (mouseleave)="menuTrigger.closeMenu()">
                            <button mat-mini-fab matTooltip="Edit" color="primary" (click)="openApplicantProfileDialog(applicantProfile);" class="mx-1" *ngIf="isHeadOffice">
                              <mat-icon>mode_edit</mat-icon>
                          </button>
                          <!-- <button mat-mini-fab matTooltip="Delete" class="mx-1" color="warn" *ngIf="checkDeleteStatus(applicantProfile.applicantStatuses[0])" (click)="deleteApplicantProfile(applicantProfile.applicantProfileId)">
                              <mat-icon>delete</mat-icon>
                          </button> -->

                          <button  mat-mini-fab matTooltip="Upload Verified Document" class="mx-1" color="primary" *ngIf="checkUploadStatus(applicantProfile.applicantStatuses[0])" (click)="uploadVerifiedDocument(applicantProfile.applicantProfileId)">
                              <mat-icon ><mat-icon>cloud_upload</mat-icon>
                            </mat-icon>
                          </button>
                          <button  mat-mini-fab matTooltip="Upload Contract" class="mx-1" color="primary" *ngIf="checkContractStatus(applicantProfile)" (click)="uploadContractDocument(applicantProfile.applicantProfileId)">
                              <mat-icon ><mat-icon>cloud_upload</mat-icon>
                            </mat-icon>
                          </button>
                          <button mat-mini-fab matTooltip="Accept Contract" class="mx-1" color="primary"  *ngIf="checkReceieveContractStatus(applicantProfile.applicantStatuses[0])" (click)="receieveContractDocument(applicantProfile.applicantProfileId)">
                            <mat-icon >check</mat-icon>
                        </button>
                          <button mat-mini-fab matTooltip="Verify Contract" class="mx-1" color="primary"  *ngIf="checkVerifyContractStatus(applicantProfile.applicantStatuses[0])" (click)="verifyContractDocument(applicantProfile.applicantProfileId)">
                            <mat-icon >check</mat-icon>
                        </button>
                          <button mat-mini-fab matTooltip="Request Insurance" class="mx-1" color="primary"  *ngIf="checkInsuranceStatus(applicantProfile.applicantStatuses[0])" (click)="requestInsurance(applicantProfile.applicantProfileId)">
                            <mat-icon >directions</mat-icon>
                        </button>
                          <button mat-mini-fab matTooltip="Complete Insurance" class="mx-1" color="primary"  *ngIf="checkCompleteInsuranceStatus(applicantProfile.applicantStatuses[0])" (click)="completeInsurance(applicantProfile.applicantProfileId)">
                            <mat-icon >directions</mat-icon>
                        </button>
                        <button mat-mini-fab matTooltip="Request COC" class="mx-1" color="primary"  *ngIf="checkCocStatus(applicantProfile.applicantStatuses[0])" (click)="requestCoc(applicantProfile.applicantProfileId)">
                          <mat-icon >directions</mat-icon>
                      </button>
                      <button mat-mini-fab matTooltip="Complete COC" class="mx-1" color="primary"  *ngIf="checkCompleteCocStatus(applicantProfile.applicantStatuses[0])" (click)="completeCoc(applicantProfile.applicantProfileId)">
                        <mat-icon >directions</mat-icon>
                    </button>
                          <button mat-mini-fab matTooltip="Request Yellow Card" class="mx-1"  [ngStyle]="{'background-color':'yellow'}"  *ngIf="checkRequestYellowCardStatus(applicantProfile.applicantStatuses[0])" (click)="requestYellowCard(applicantProfile.applicantProfileId)">
                            <mat-icon >redo</mat-icon>
                        </button>
                          <button mat-mini-fab matTooltip="Receieve Yellow Card" class="mx-1" [ngStyle]="{'background-color':'yellow'}"  *ngIf="checkGetYellowCardStatus(applicantProfile.applicantStatuses[0])" (click)="receiveYellowCard(applicantProfile.applicantProfileId)">
                            <mat-icon >redo</mat-icon>
                        </button>
                          <button mat-mini-fab matTooltip="Verify Ticket" class="mx-1" color="primary"  *ngIf="checkTicketStatus(applicantProfile.applicantStatuses[0])" (click)="verifyFlightTicket(applicantProfile.applicantProfileId)">
                            <mat-icon >airplanemode_active</mat-icon>
                        </button>
                          <button mat-mini-fab matTooltip="Start Flight" class="mx-1" color="primary"  *ngIf="checkFlightStatus(applicantProfile.applicantStatuses[0])" (click)="startFlight(applicantProfile.applicantProfileId)">
                            <mat-icon >airplanemode_active</mat-icon>
                        </button>
                          <button mat-mini-fab matTooltip="Arrived" class="mx-1" color="primary"  *ngIf="checkArrivalStatus(applicantProfile.applicantStatuses[0])" (click)="confirmArrival(applicantProfile.applicantProfileId)">
                            <mat-icon >airplanemode_active</mat-icon>
                        </button>

                          <button mat-mini-fab matTooltip="Detail" class="mx-1"  [ngStyle]="{'color':'green'}" [routerLink]="['/applicant-profile/detail', applicantProfile.applicantProfileId]">
                            <mat-icon>visibility</mat-icon>
                        </button>
                          <button mat-mini-fab matTooltip="Process" class="mx-1"  [ngStyle]="{'color':'Blue'}" [routerLink]="['/applicant-profile/process', applicantProfile.applicantProfileId]">
                            <mat-icon>trending_down</mat-icon>
                        </button>
                        </span>
                        </mat-menu>
                          </div>
                      </div>
                  </div>
              </div>
          </mat-card>

          <!-- <div *ngIf="applicantProfiles.length > 0" fxLayout="row wrap">
              <div fxFlex="100">
                  <mat-card class="p-0 text-center">
                      <pagination-controls class="product-pagination" [maxSize]='10' (pageChange)="onPageChanged($event)"></pagination-controls>
                  </mat-card>
              </div>
          </div> -->
      </div>
      <!-- autoHide="true" maxSize="5" -->


      </mat-card>
  </div>
</div>
<div *ngIf="applicantProfiles.length>0" fxLayout="row wrap">
  <div fxFlex="100" class="p-1">
      <mat-card class="p-0 text-center">
          <pagination-controls class="product-pagination" [autoHide]='true' [maxSize]='8' (pageChange)="onPageChanged($event)"></pagination-controls>
      </mat-card>
  </div>
</div>

<div *ngIf="!applicantProfiles" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
  <mat-spinner color="primary"></mat-spinner>
</div>

