<div class="row" class="d-flex justify-content-between align-items-center" class="p-1">

  <div class="row" class="d-flex justify-content-end align-items-stat">
      <mat-button-toggle-group #viewType="matButtonToggleGroup" appearance="legacy" value="grid">
          <mat-button-toggle value="grid">
              <mat-icon>view_module</mat-icon>
          </mat-button-toggle>

          <mat-button-toggle value="table">
            <mat-icon>view_column</mat-icon>
        </mat-button-toggle>

      </mat-button-toggle-group>
  </div>
</div>

<div *ngIf="viewType.value == 'grid'" class="card p-1">
<div  class="row">
  <div   *ngFor="let applicantProfile of applicantProfiles  | paginate: { itemsPerPage: 8, currentPage: pageNumber,totalItems: totalItems }"  class="col-sm-3 col-lg-3  mb-3 rounded-circle">
      <div class="card">
          <div class="card-header text-white d-flex justify-content-between align-items-start" style="background-color: #06407a;">
             <div>
               <h6 *ngIf="!applicantProfile.isDeleted">{{applicantProfile.fullName}}</h6>
              <h6 *ngIf="!applicantProfile.isDeleted&&isHeadOffice">{{applicantProfile.fullNameAm}}</h6>
            </div>   <!--  -->
              <!-- <p style="font-size: 3.5vw;"></p> -->
              <h5 *ngIf="applicantProfile.isDeleted" class="user-name">User blocked</h5>
              <a mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                  <mat-icon>more_vert</mat-icon>
              </a>
          </div>

          <mat-menu #menu="matMenu" xPosition="before"  overlapTrigger="true">
            <span (mouseleave)="menuTrigger.closeMenu()">
          <button  mat-menu-item color="primary" (click)="openApplicantProfileDialog(applicantProfile);" class="mx-1" *ngIf="isHeadOffice">
            <mat-icon>mode_edit</mat-icon>Edit
        </button>
        <button  mat-menu-item class="mx-1" color="warn" *ngIf="checkDeleteStatus(applicantProfile.applicantStatuses[0])" (click)="deleteApplicantProfile(applicantProfile.applicantProfileId)">
            <mat-icon>delete</mat-icon>Delete
        </button>

        <button mat-menu-item  class="mx-1" color="primary" *ngIf="checkUploadStatus(applicantProfile.applicantStatuses[0])" (click)="uploadVerifiedDocument(applicantProfile.applicantProfileId)">
            <mat-icon>cloud_upload</mat-icon>Upload Verified Document

        </button>
        <button  mat-menu-item  class="mx-1" color="primary" *ngIf="checkContractStatus(applicantProfile)" (click)="uploadContractDocument(applicantProfile.applicantProfileId)">
            <mat-icon ><mat-icon>cloud_upload</mat-icon>Upload Contract
          </mat-icon>
        </button>
        <button  mat-menu-item class="mx-1" color="primary"  *ngIf="checkReceieveContractStatus(applicantProfile.applicantStatuses[0])" (click)="receieveContractDocument(applicantProfile.applicantProfileId)">
          <mat-icon >check</mat-icon>Accept Contract
      </button>
        <button  mat-menu-item  class="mx-1" color="primary"  *ngIf="checkVerifyContractStatus(applicantProfile.applicantStatuses[0])" (click)="verifyContractDocument(applicantProfile.applicantProfileId)">
          <mat-icon >check</mat-icon>Verify Contract
      </button>
        <button  mat-menu-item  class="mx-1" color="primary"  *ngIf="checkInsuranceStatus(applicantProfile.applicantStatuses[0])" (click)="requestInsurance(applicantProfile.applicantProfileId)">
          <mat-icon >directions</mat-icon>Request Insurance
      </button>
        <button  mat-menu-item class="mx-1" color="primary"  *ngIf="checkCompleteInsuranceStatus(applicantProfile.applicantStatuses[0])" (click)="completeInsurance(applicantProfile.applicantProfileId)">
          <mat-icon >directions</mat-icon>Complete Insurance
      </button>
      <button  mat-menu-item  class="mx-1" color="primary"  *ngIf="checkCocStatus(applicantProfile.applicantStatuses[0])" (click)="requestCoc(applicantProfile.applicantProfileId)">
        <mat-icon >directions</mat-icon>Request COC
    </button>
    <button  mat-menu-item  class="mx-1" color="primary"  *ngIf="checkCompleteCocStatus(applicantProfile.applicantStatuses[0])" (click)="completeCoc(applicantProfile.applicantProfileId)">
      <mat-icon >directions</mat-icon>Complete COC
  </button>
        <button  mat-menu-item class="mx-1"  [ngStyle]="{'background-color':'yellow'}"  *ngIf="checkRequestYellowCardStatus(applicantProfile.applicantStatuses[0])" (click)="requestYellowCard(applicantProfile.applicantProfileId)">
          <mat-icon >redo</mat-icon>Request Yellow Card
      </button>
        <button  mat-menu-item class="mx-1" [ngStyle]="{'background-color':'yellow'}"  *ngIf="checkGetYellowCardStatus(applicantProfile.applicantStatuses[0])" (click)="receiveYellowCard(applicantProfile.applicantProfileId)">
          <mat-icon >redo</mat-icon>Receieve Yellow Card
      </button>
        <button  mat-menu-item  class="mx-1" color="primary"  *ngIf="checkTicketStatus(applicantProfile.applicantStatuses[0])" (click)="verifyFlightTicket(applicantProfile.applicantProfileId)">
          <mat-icon >airplanemode_active</mat-icon>Verify Ticket
      </button>
        <button  mat-menu-item class="mx-1" color="primary"  *ngIf="checkFlightStatus(applicantProfile.applicantStatuses[0])" (click)="startFlight(applicantProfile.applicantProfileId)">
          <mat-icon >airplanemode_active</mat-icon>Start Flight
      </button>
        <button  mat-menu-item  class="mx-1" color="primary"  *ngIf="checkArrivalStatus(applicantProfile.applicantStatuses[0])" (click)="confirmArrival(applicantProfile.applicantProfileId)">
          <mat-icon >airplanemode_active</mat-icon>Arrived
      </button>

        <button  mat-menu-item class="mx-1"  [ngStyle]="{'color':'green'}" [routerLink]="['/applicant-profile/detail', applicantProfile.applicantProfileId]">
          <mat-icon>visibility</mat-icon>Detail
      </button>
        <button  mat-menu-item  class="mx-1"  [ngStyle]="{'color':'Blue'}" [routerLink]="['/applicant-profile/process', applicantProfile.applicantProfileId]">
          <mat-icon>trending_down</mat-icon>Process
      </button>
      </span>
      </mat-menu>
          <div class="card-body row user-content" >
              <div  class="col-6 flex-column d-flex align-items-center justify-content-center">
                  <div class="user-img">
                      <img *ngIf="applicantProfile?.applicantDocument?.applicantSmallPhotoPath" [src]="host+applicantProfile.applicantDocument?.applicantSmallPhotoPath" class="transition-2" [class.blocked]="applicantProfile.isDeleted">
                      <mat-icon *ngIf="applicantProfile.isDeleted" color="warn">block</mat-icon>
                    </div>

                  <div class="user-social">
                      <mat-slide-toggle color="primary" [checked]="applicantProfile.isDeleted" (change)="applicantProfile.isDeleted = !applicantProfile.isDeleted"></mat-slide-toggle>
                  </div>
              </div>
              <div class="col-6 user-details transition-2"  [class.blocked]="applicantProfile.isDeleted">
                  <!-- <p class="row" class="d-flex justify-content-start align-items-center">
                      <mat-icon class="text-muted">where_to_vote</mat-icon>
                      <span>{{applicantProfile.nationality}}</span>
                  </p> -->
                  <p  class="d-flex justify-content-start align-items-center">
                      <mat-icon class="text-muted">mail_outline</mat-icon>
                      <span>{{applicantProfile.passportNo}}</span>
                  </p>
                  <p class="d-flex justify-content-start align-items-center">
                      <mat-icon class="text-muted">call</mat-icon>
                      <span>{{applicantProfile.phoneNumber}}</span>
                  </p>
                  <p class="d-flex justify-content-start align-items-center">
                      <mat-icon class="text-muted">people</mat-icon>
                      <span>    {{genderList[applicantProfile.gender]}}   </span>
                  </p>
                  <p  class="d-flex justify-content-start align-items-center">
                      <mat-icon class="text-muted">wc</mat-icon>
                      <span>    {{maritalStatusList[applicantProfile.maritalStatus]}}   </span>
                  </p>

                  <p class="d-flex justify-content-start align-items-center" *ngIf="applicantProfile.applicantPlacements[0]!=null">
                    <mat-icon class="text-muted">wc</mat-icon>
                    <span>
                      {{(offices | filterById : applicantProfile.applicantPlacements[0]?.officeId)?.name}}
                          </span>
                </p>
              </div>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-start" *ngIf="(applicantProfile.applicantStatuses.length!=0) && (applicantProfile.applicantStatuses[0]?.officeLevel!='Placement')">
            <p>
              <mat-icon class="text-muted">wc</mat-icon>
              <span>    {{applicantProfile.applicantStatuses[0]?applicantProfile.applicantStatuses[0].officeLevel:"UnAssigned"}}   </span>
          </p>

            <p>
              <mat-icon class="text-muted">wc</mat-icon>
              <span>    {{applicantProfile.applicantStatuses[0]?applicantProfile.applicantStatuses[0].status:"UnAssigned"}}   </span>
          </p>

          </div>
      </div>
  </div>
</div>
<div class="row" *ngIf="applicantProfiles.length == 0">
<p color="red"><i class="bi bi-exclamation-triangle-fill"></i>Records Not Found</p>
</div>
</div>


<div *ngIf="viewType.value == 'table'" class="row">
   <div  fxFlex="100" class="p-1" >
    <button class="btn btn-primary" type="button" (click)="approveApplicant()" *ngIf="isAnySelected&&candidateType==2"> Approve</button>
      <mat-card class="p-0">
        <div *ngIf="isAnySelected&&isHeadOffice&&candidateType==1" class="row flex-column d-flex justify-content-start align-content-center">
          <div [formGroup]="placementFormGroup">

   <mat-form-field appearance="outline">
    <mat-label>Office</mat-label>
    <mat-select formControlName="officeId" required>
      <mat-option *ngFor="let office of offices"
      [value]="office.id">
{{office.name}}
</mat-option>
  </mat-select>

  </mat-form-field>
          </div>
          <div>
          <button mat-button (click)="placeApplicant();" style="background-color: dodgerblue; height: 54px;color: white;">
             <mat-icon matPrefix title="Assign">redo</mat-icon> Assign</button>
      </div>
        </div>

        <div class="p-1">
          <mat-card class="p-0">
              <div class="row" class="d-flex justify-content-between align-items-center" class="w-100 p-2">
                  <h2>Labour List</h2>
                  <button mat-raised-button color="primary" [routerLink]="['/applicant-profile/create-new']" *ngIf="isHeadOffice">Add New</button>
              </div>
              <mat-divider></mat-divider>
              <div class="mat-table admin-table">
                  <div class="mat-header-row">
                      <div class="mat-header-cell">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
                      </div>
                      <div class="mat-header-cell">No.</div>
                      <div class="mat-header-cell">Full Name</div>
                      <div class="mat-header-cell">Phone No</div>
                      <div class="mat-header-cell">Passport No</div>
                      <div class="mat-header-cell">Agent</div>
                      <div class="mat-header-cell">Process</div>
                      <div class="mat-header-cell">Status</div>
                      <div class="mat-header-cell"></div>
                  </div>
                  <div *ngFor="let applicantProfile of applicantProfiles | UserSearchPipe : searchText| paginate: { itemsPerPage: 8, currentPage: pageNumber,totalItems: totalItems }" class="mat-row">
                      <div class="mat-cell">
                          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selectRow(applicantProfile) : null"
                        [checked]="selection.isSelected(applicantProfile)">
          </mat-checkbox>
         </div>
                      <div class="mat-cell">{{applicantProfile.applicantProfileId}} </div>
                      <div class="mat-cell">{{applicantProfile.fullName}}</div>
                      <div class="mat-cell">{{applicantProfile.phoneNumber}}</div>
                      <div class="mat-cell">{{applicantProfile.passportNo}}</div>
                      <div class="mat-cell">                      {{(agents | filterById : applicantProfile.agentId)?.name}}
                      </div>
                      <div class="mat-cell"> {{applicantProfile.applicantStatuses[0]?applicantProfile.applicantStatuses[0].officeLevel:"UnAssigned"}}</div>
                      <div class="mat-cell"> {{applicantProfile.applicantStatuses[0]?applicantProfile.applicantStatuses[0].status:"UnAssigned"}}
                      </div>
                      <div class="mat-cell">
                          <div class="p-0 actions">
                            <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before"  overlapTrigger="true">
                              <span (mouseleave)="menuTrigger.closeMenu()">
                            <button  mat-menu-item color="primary" (click)="openApplicantProfileDialog(applicantProfile);" class="mx-1" *ngIf="isHeadOffice">
                              <mat-icon>mode_edit</mat-icon>Edit
                          </button>
                          <button  mat-menu-item class="mx-1" color="warn" *ngIf="checkDeleteStatus(applicantProfile.applicantStatuses[0])" (click)="deleteApplicantProfile(applicantProfile.applicantProfileId)">
                              <mat-icon>delete</mat-icon>Delete
                          </button>

                          <button mat-menu-item  class="mx-1" color="primary" *ngIf="checkUploadStatus(applicantProfile.applicantStatuses[0])" (click)="uploadVerifiedDocument(applicantProfile.applicantProfileId)">
                              <mat-icon>cloud_upload</mat-icon>Upload Verified Document

                          </button>
                          <button  mat-menu-item  class="mx-1" color="primary" *ngIf="checkContractStatus(applicantProfile)" (click)="uploadContractDocument(applicantProfile.applicantProfileId)">
                              <mat-icon ><mat-icon>cloud_upload</mat-icon>Upload Contract
                            </mat-icon>
                          </button>
                          <button  mat-menu-item class="mx-1" color="primary"  *ngIf="checkReceieveContractStatus(applicantProfile.applicantStatuses[0])" (click)="receieveContractDocument(applicantProfile.applicantProfileId)">
                            <mat-icon >check</mat-icon>Accept Contract
                        </button>
                          <button  mat-menu-item  class="mx-1" color="primary"  *ngIf="checkVerifyContractStatus(applicantProfile.applicantStatuses[0])" (click)="verifyContractDocument(applicantProfile.applicantProfileId)">
                            <mat-icon >check</mat-icon>Verify Contract
                        </button>
                          <button  mat-menu-item  class="mx-1" color="primary"  *ngIf="checkInsuranceStatus(applicantProfile.applicantStatuses[0])" (click)="requestInsurance(applicantProfile.applicantProfileId)">
                            <mat-icon >directions</mat-icon>Request Insurance
                        </button>
                          <button  mat-menu-item class="mx-1" color="primary"  *ngIf="checkCompleteInsuranceStatus(applicantProfile.applicantStatuses[0])" (click)="completeInsurance(applicantProfile.applicantProfileId)">
                            <mat-icon >directions</mat-icon>Complete Insurance
                        </button>
                        <button  mat-menu-item  class="mx-1" color="primary"  *ngIf="checkCocStatus(applicantProfile.applicantStatuses[0])" (click)="requestCoc(applicantProfile.applicantProfileId)">
                          <mat-icon >directions</mat-icon>Request COC
                      </button>
                      <button  mat-menu-item  class="mx-1" color="primary"  *ngIf="checkCompleteCocStatus(applicantProfile.applicantStatuses[0])" (click)="completeCoc(applicantProfile.applicantProfileId)">
                        <mat-icon >directions</mat-icon>Complete COC
                    </button>
                          <button  mat-menu-item class="mx-1"  [ngStyle]="{'background-color':'yellow'}"  *ngIf="checkRequestYellowCardStatus(applicantProfile.applicantStatuses[0])" (click)="requestYellowCard(applicantProfile.applicantProfileId)">
                            <mat-icon >redo</mat-icon>Request Yellow Card
                        </button>
                          <button  mat-menu-item class="mx-1" [ngStyle]="{'background-color':'yellow'}"  *ngIf="checkGetYellowCardStatus(applicantProfile.applicantStatuses[0])" (click)="receiveYellowCard(applicantProfile.applicantProfileId)">
                            <mat-icon >redo</mat-icon>Receieve Yellow Card
                        </button>
                          <button  mat-menu-item  class="mx-1" color="primary"  *ngIf="checkTicketStatus(applicantProfile.applicantStatuses[0])" (click)="verifyFlightTicket(applicantProfile.applicantProfileId)">
                            <mat-icon >airplanemode_active</mat-icon>Verify Ticket
                        </button>
                          <button  mat-menu-item class="mx-1" color="primary"  *ngIf="checkFlightStatus(applicantProfile.applicantStatuses[0])" (click)="startFlight(applicantProfile.applicantProfileId)">
                            <mat-icon >airplanemode_active</mat-icon>Start Flight
                        </button>
                          <button  mat-menu-item  class="mx-1" color="primary"  *ngIf="checkArrivalStatus(applicantProfile.applicantStatuses[0])" (click)="confirmArrival(applicantProfile.applicantProfileId)">
                            <mat-icon >airplanemode_active</mat-icon>Arrived
                        </button>

                          <button  mat-menu-item class="mx-1"  [ngStyle]="{'color':'green'}" [routerLink]="['/applicant-profile/detail', applicantProfile.applicantProfileId]">
                            <mat-icon>visibility</mat-icon>Detail
                        </button>
                          <button  mat-menu-item  class="mx-1"  [ngStyle]="{'color':'Blue'}" [routerLink]="['/applicant-profile/process', applicantProfile.applicantProfileId]">
                            <mat-icon>trending_down</mat-icon>Process
                        </button>
                        </span>
                        </mat-menu>
                          </div>
                      </div>
                  </div>
              </div>
          </mat-card>

      </div>


      </mat-card>
  </div>
</div>


<div *ngIf="!applicantProfiles" fxLayout="column" class="d-flex justify-content-center align-items-center" class="user-spinner">
  <mat-spinner color="primary"></mat-spinner>
</div>

