
<mat-card-content class>

<mat-stepper role="tab" aria-selected="true" class="card">
  <form [formGroup]="personalInfoFormGroup"  #formItemDirective="ngForm" enctype="multipart/form-data">

  <mat-step label="Step 1" state="phone" class="card-header-tabs">
      <ng-template matStepLabel>Passport Detail</ng-template>
      <div>

  <div class="row mt-2">

    <div class="col-sm-3 col-md-3 col-lg-3">
        <mat-form-field appearance="outline" class="w-100">
        <mat-label>First Name</mat-label>

        <input matInput placeholder="First name" pattern="[a-zA-Z][a-zA-Z ]+"
         (change)="generateRefNo()" formControlName="firstName" required>
      </mat-form-field>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Middle Name</mat-label>
        <input matInput placeholder="Middle name"  pattern="[a-zA-Z][a-zA-Z ]+" (change)="generateRefNo()" formControlName="middleName" required>
      </mat-form-field>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last name" pattern="[a-zA-Z][a-zA-Z ]+" formControlName="lastName" (change)="generateRefNo()" required>
      </mat-form-field>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Phone Number" formControlName="phoneNumber" (change)="generateRefNo()">
        <span matPrefix class="text-prefix"> +251</span>

      </mat-form-field>
</div>
</div>
<div class="row mt-2">
  <div class="col-sm-3 col-md-3 col-lg-3">
          <mat-form-field appearance="outline" class="w-100">
        <mat-label>ስም</mat-label>
        <input matInput placeholder="ስም" (change)="generateRefNo()" formControlName="firstNameAm" required>
      </mat-form-field>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>የኣባት ስም</mat-label>
        <input matInput placeholder="የኣባት ስም" (change)="generateRefNo()" formControlName="middleNameAm" required>
      </mat-form-field>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>የኣያት ስም</mat-label>
        <input matInput placeholder="የኣያት ስም" formControlName="lastNameAm" (change)="generateRefNo()" required>
      </mat-form-field>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Passport No</mat-label>
        <input matInput placeholder="Passport No" formControlName="passportNo"  maxlength="8" required>
        <span matPrefix class="text-prefix"> EP</span>

      </mat-form-field>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-sm-3 col-md-3 col-lg-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Date Of Birth</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="doB">
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 color="primary"></mat-datepicker>

    </mat-form-field>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">


        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Passport Issue Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="passportIssueDate">
          <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker color="primary"></mat-datepicker>

      </mat-form-field>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Passport Expiry Date</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="passportExpiryDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 color="primary"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender" required>
          <mat-option *ngFor="let gender of genders"
          [value]="gender">
    {{genderList[gender]}}
  </mat-option>
      </mat-select>

      </mat-form-field>
      </div>
    </div>

    <div class="stepper-btn">

          <button mat-button></button>
          <button mat-button matStepperNext>Next</button>
          <!-- <button  mat-button matStepperNext><mat-icon style="font-size: 30px;width: 30px;height: 30px;">skip_next</mat-icon> -->
          <!-- </button> -->

        </div>
      </div>

  </mat-step>
  <mat-step label="Step 2" state="phone" class="card-header-tabs">
    <ng-template matStepLabel>Personal Detail</ng-template>
    <div>



<div class="row mt-2">

    <div class="col-sm-3 col-md-3 col-lg-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Country</mat-label>
        <mat-select formControlName="countryId" required>
          <mat-option *ngFor="let country of countrys" [value]="country.id">
              <span>{{country.name}}</span>
          </mat-option>
      </mat-select>
      </mat-form-field>

    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Marital Status</mat-label>
      <mat-select formControlName="maritalStatus" required>
        <mat-option *ngFor="let maritalStatus of maritalStatuses"
        [value]="maritalStatus">
  {{maritalStatusList[maritalStatus]}}
</mat-option>
    </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>No of Children</mat-label>
      <input matInput placeholder="No of Children" formControlName="noOfChildren" type="number" required>
    </mat-form-field>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Religion</mat-label>
      <mat-select formControlName="religion" placeholder="Religion" required>
        <mat-option *ngFor="let religion of religions"
        [value]="religion">
  {{religionList[religion]}}
</mat-option>
    </mat-select>
    </mat-form-field>
  </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Reference No</mat-label>
      <input matInput placeholder="Reference No" formControlName="referenceNo"   [value]="refNo"  required>
    </mat-form-field>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority" required>
        <mat-option *ngFor="let priority of priorities"
        [value]="priority">
  {{priorityList[priority]}}
</mat-option>
    </mat-select>

    </mat-form-field>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">


    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Agent</mat-label>
      <mat-select formControlName="agentId" required>
        <mat-option *ngFor="let agent of agents"
        [value]="agent.id">
  {{agent.name}}
</mat-option>
    </mat-select>

    </mat-form-field>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Height(m)</mat-label>
      <input matInput placeholder="Height" formControlName="height" type="number">
    </mat-form-field>
  </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Weight(Kg)</mat-label>
      <input matInput placeholder="Weight" formControlName="weight"  type="number">
    </mat-form-field>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Region</mat-label>
      <input matInput placeholder="Region" formControlName="city"     required>

    </mat-form-field>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Zone</mat-label>
      <input matInput placeholder="Zone" formControlName="wereda"   required>
    </mat-form-field>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Wereda</mat-label>
      <input matInput placeholder="Wereda" formControlName="kebelle" required>
    </mat-form-field>

  </div>
  </div>
  <div class="stepper-btn">
    <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
  </div>
    </div>

</mat-step>
  <mat-step label="Step 3" state="phone" class="card-header-tabs" >
    <ng-template matStepLabel>Education Data</ng-template>
    <div class=" personal-dtail-container">
      <form formGroupName="educationData">
        <div class="row mt-2">
          <div class="col-sm-4 col-md-4 col-lg-4">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Qualification Type</mat-label>
      <mat-select formControlName="qualificationType">
        <mat-option *ngFor="let qualificationType of qualificationTypes"
        [value]="qualificationTypeList[qualificationType]">
  {{qualificationTypeList[qualificationType]}}
  </mat-option>
    </mat-select>
  </mat-form-field>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Level Of Qualification</mat-label>
        <mat-select formControlName="levelOfQualification">
          <mat-option *ngFor="let levelOfQualification of levelOfQualifications"
          [value]="levelOfQualificationList[levelOfQualification]">
    {{levelOfQualificationList[levelOfQualification]}}
    </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Year Completed</mat-label>
      <input matInput placeholder="Year Completed"  formControlName="yearCompleted">
    </mat-form-field>
  </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm-6 col-md-6 col-lg-6">

        <mat-form-field appearance="outline" class="w-100">
      <mat-label>Award</mat-label>
      <input matInput placeholder="Award" formControlName="award" ngModel>


    </mat-form-field>
</div>
<div class="col-sm-6 col-md-6 col-lg-6">

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Professional Skill</mat-label>
      <input matInput placeholder="Professional Skill" formControlName="professionalSkill">
    </mat-form-field>
</div>
  </div>
</form>

  </div>
    <div>
      <div class="stepper-btn">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>

      </div>
    </div>

</mat-step>

  <mat-step label="Step 4" state="school" class="card-header-tabs" >
    <ng-template matStepLabel>Work Experience</ng-template>

    <div class=" personal-dtail-container">

    <!-- <form formGroupName="workExperiences"> -->
      <div formArrayName="workExperiences">

           <div *ngFor="let row of personalInfoFormGroup['controls']['workExperiences']['controls'] let i = index" [formGroupName]="i">
            <div class="row mt-2">
              <div class="col-sm-3 col-md-3 col-lg-3">
                <mat-form-field appearance="outline" class="w-100">
          <mat-label>Duration</mat-label>
          <input matInput placeholder="Duration
          " formControlName="duration">



      </mat-form-field>
      </div>

<div class="col-sm-3 col-md-3 col-lg-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Country</mat-label>
        <mat-select formControlName="country">
          <mat-option *ngFor="let country of countries" [value]="country.name">
              <span>{{country.name}}</span>
          </mat-option>
      </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Job</mat-label>
        <mat-select formControlName="jobs"  (selectionChange)="onChangeJob(i,$event);" multiple>
          <mat-option *ngFor="let experiencedJob of commonJobs" [value]="experiencedJob.id">
              <span>{{experiencedJob.name}}</span>
          </mat-option>
      </mat-select>
      <!-- <mat-form-field appearance="outline" class="w-100">
        <mat-label>Job Description</mat-label>
        <input matInput placeholder="Job" formControlName="jobDescription" required> -->
      </mat-form-field>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 align-items-end">

      <button (click)="onDeleteRow(i)" mat-button><mat-icon id="delete-icon">delete</mat-icon></button>
</div>
</div>
    </div>
    <div  id="add-div">
      <button mat-button (click)="initGroup()"><mat-icon id="add-icon">add</mat-icon></button>
   </div>
    </div>
    <!-- </form> -->
    </div>
    <div class="stepper-btn">

      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 5" state="contact_phone" class="card-header-tabs">
    <ng-template matStepLabel>Contact Person</ng-template>
    <div class=" personal-dtail-container">
      <form formGroupName="contactPerson">
        <div class="row mt-2">
        <div class="col-sm-4 col-md-4 col-lg-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Full Name</mat-label>
        <input matInput placeholder="Full Name" formControlName="fullName">
      </mat-form-field>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
  <mat-form-field appearance="outline" class="w-100">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Phone Number" formControlName="phoneNumber">
      </mat-form-field>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
  <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>

    </div>
    </div>

    <div class="row mt-2">
      <div class="col-sm-4 col-md-4 col-lg-4">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Region</mat-label>
    <input matInput placeholder="Region" formControlName="city">
  </mat-form-field>

</div>

<div class="col-sm-4 col-md-4 col-lg-4">
  <mat-form-field appearance="outline" class="w-100">
  <mat-label>Zone</mat-label>
  <input matInput placeholder="Zone" formControlName="wereda">
</mat-form-field>

</div>

<div class="col-sm-4 col-md-4 col-lg-4">
  <mat-form-field appearance="outline" class="w-100">
  <mat-label>Wereda</mat-label>
  <input matInput placeholder="Wereda" formControlName="kebelle">
</mat-form-field>

</div>
</div>
</form>
</div>
<div class="stepper-btn">
      <button mat-button matStepperPrevious alig>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <!-- <mat-step label="Step 5" state="group_work" >
    <ng-template matStepLabel>Experienced Job</ng-template>

    <div class=" personal-dtail-container">

      <div formArrayName="experiencedJobs">

        <div class="row mt-2">
          <div *ngFor="let row of personalInfoFormGroup['controls']['experiencedJobs']['controls'] let i = index" [formGroupName]="i" class="ex-job-container">
          <div class="col-sm-1 col-md-1 col-lg-1">

              <input matInput placeholder="Job" value="row.commonJobId.value" formControlName="commonJobId"ngModel *ngIf="hidden">

          </div>

          <div col-sm-6 col-md-6 col-lg-6>
             <mat-checkbox

            formControlName="haveExperience"
            (change)="checkExp(row)"
            color="primary">
             {{row.value.commonJobName}}
            </mat-checkbox>
            </div>
          </div>




      </div>
      </div>
      </div>
      <div class="stepper-btn">
        <button mat-button matStepperPrevious alig>Back</button>
        <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step> -->
  <mat-step label="Step 6" state="school" class="card-header-tabs">
    <ng-template matStepLabel>Insurance Benificiary</ng-template>

    <div class=" personal-dtail-container">

      <div formArrayName="insuranceBeneficiaries">

           <div *ngFor="let row of personalInfoFormGroup['controls']['insuranceBeneficiaries']['controls'] let i = index" [formGroupName]="i">
            <div class="row mt-2">
              <div class="col-sm-3 col-md-3 col-lg-3">
          <mat-form-field appearance="outline" class="w-100">
    <mat-label>Full Name</mat-label>
    <input matInput placeholder="Full Name" formControlName="fullName">

</mat-form-field>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Relationship</mat-label>
    <mat-select formControlName="relationship">
      <mat-option *ngFor="let relationship of relationships"
      [value]="relationship">
{{relationshipList[relationship]}}
</mat-option>
  </mat-select>
</mat-form-field>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" placeholder="Address">

      </mat-form-field>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Percent(%)</mat-label>
        <input matInput placeholder="Percent" formControlName="percent">
      </mat-form-field>
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1">

      <button (click)="onDeleteInsuranceRow(i)" mat-button><mat-icon id="delete-icon">delete</mat-icon></button>
</div>
</div>
    </div>
    <div  id="add-div">
      <button mat-button (click)="initInsuranceGroup()"><mat-icon id="add-icon">add</mat-icon></button>
   </div>
    </div>
    <!-- </form> -->
    </div>
    <div class="stepper-btn">

      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

</form>

  <mat-step label="Step 7" state="cloud_upload" class="card-header-tabs">
    <ng-template matStepLabel>Documents</ng-template>
    <div class=" personal-dtail-container">

    <form [formGroup]="documentFormGroup"  #formItemDirective="ngForm">
      <div  class="row m-2">
        <div class="col-sm-4 col-md-4 col-lg-4 d-flex justify-content-around">
          <mat-label class="doc-label p-1 mb-2">Applicant Passport</mat-label>
          <app-image-uploader (change)="onChangeApplicantPassport($event)" accept="image/*"></app-image-uploader>

        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 d-flex justify-content-around">
          <mat-label class="doc-label p-2 mb-2">Applicant ID</mat-label>
          <app-image-uploader (change)="onChangeApplicantId($event)" accept="image/*"></app-image-uploader>

        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 d-flex justify-content-around">
          <mat-label class="doc-label p-1 mb-2">Contact Person Id Or Passport</mat-label>
          <app-image-uploader (change)="onChangeContactId($event)" accept="image/*"></app-image-uploader>


        </div>
        </div>
        <div  class="row m-2">

        <div class="col-sm-4 col-md-4 col-lg-4 d-flex justify-content-around">

          <mat-label class="doc-label p-1 mb-2">Applicant Short Photo</mat-label>
          <app-image-uploader (change)="onChangeApplicantShortPhoto($event)" accept="image/*"></app-image-uploader>


        </div>


        <div class="col-sm-4 col-md-4 col-lg-4 d-flex justify-content-around">
          <mat-label  class="doc-label p-1 mb-2">Applicant Full Photo</mat-label>
        <app-image-uploader (change)="onChangeApplicantFullPhoto($event)"  accept="image/*"></app-image-uploader>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 d-flex justify-content-around">

        <mat-label class="doc-label p-3 mb-2">Applicant Video</mat-label>
        <app-image-uploader (change)="onChangeApplicantVideo($event)" accept="video/*"></app-image-uploader>

</div>
      </div>
      </form>
      </div>
      <div class="stepper-btn">

      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="onSubmit(formItemDirective)">Submit</button>
    </div>
  </mat-step>

  <!-- Icon overrides. -->
  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>
</mat-stepper>
