
<div>

<mat-stepper role="tab" aria-selected="true">
  <form [formGroup]="personalInfoFormGroup">

  <mat-step label="Step 1" state="phone"  >
      <ng-template matStepLabel>Personal Info</ng-template>
      <div class="mat-elevation-z8 personal-dtail-container">
<div>
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First name" pattern="[a-zA-Z][a-zA-Z ]+"
         (change)="generateRefNo()" formControlName="firstName" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Middle Name</mat-label>
        <input matInput placeholder="Middle name"  pattern="[a-zA-Z][a-zA-Z ]+" (change)="generateRefNo()" formControlName="middleName" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last name" pattern="[a-zA-Z][a-zA-Z ]+" formControlName="lastName" (change)="generateRefNo()" required>
      </mat-form-field>

    </div>
   <div>
      <mat-form-field appearance="outline">
        <mat-label>ስም</mat-label>
        <input matInput placeholder="ስም" (change)="generateRefNo()" formControlName="firstNameAm" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>የኣባት ስም</mat-label>
        <input matInput placeholder="የኣባት ስም" (change)="generateRefNo()" formControlName="middleNameAm" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>የኣያት ስም</mat-label>
        <input matInput placeholder="የኣያት ስም" formControlName="lastNameAm" (change)="generateRefNo()" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Phone Number" formControlName="phoneNumber" (change)="generateRefNo()" ngModel maxlength="10" required>
        <span matPrefix class="text-prefix"> +251</span>

      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Passport No</mat-label>
        <input matInput placeholder="Passport No" formControlName="passportNo" ngModel maxlength="8" required>
        <span matPrefix class="text-prefix"> EP</span>

      </mat-form-field>

      <mat-form-field color="primary" appearance="outline">
        <mat-label>Date Of Birth</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="doB">
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 color="primary"></mat-datepicker>

    </mat-form-field>

        <mat-form-field color="primary" appearance="outline">
          <mat-label>Passport Issue Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="passportIssueDate">
          <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker color="primary"></mat-datepicker>

      </mat-form-field>
        <mat-form-field color="primary" appearance="outline">
          <mat-label>Passport Expiry Date</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="passportExpiryDate">
          <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 color="primary"></mat-datepicker>
      </mat-form-field>

    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Nationality</mat-label>
        <mat-select formControlName="nationality" required>
          <mat-option *ngFor="let country of countrys" [value]="country.id">
              <span>{{country.name}}</span>
          </mat-option>
      </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender" required>
          <mat-option *ngFor="let gender of genders"
          [value]="gender">
    {{genderList[gender]}}
  </mat-option>
      </mat-select>

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Marital Status</mat-label>
        <mat-select formControlName="maritalStatus" required>
          <mat-option *ngFor="let maritalStatus of maritalStatuses"
          [value]="maritalStatus">
    {{maritalStatusList[maritalStatus]}}
  </mat-option>
      </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>No of Children</mat-label>
        <input matInput placeholder="No of Children" formControlName="noOfChildren" required>
      </mat-form-field>

    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Religion</mat-label>
        <mat-select formControlName="religion" placeholder="Religion" required>
          <mat-option *ngFor="let religion of religions"
          [value]="religion">
    {{religionList[religion]}}
  </mat-option>
      </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Reference No</mat-label>
        <input matInput placeholder="Reference No" formControlName="referenceNo" ngModel  [value]="refNo"  required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority" required>
          <mat-option *ngFor="let priority of priorities"
          [value]="priority">
    {{priorityList[priority]}}
  </mat-option>
      </mat-select>

      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Agent</mat-label>
        <mat-select formControlName="agentId" required>
          <mat-option *ngFor="let agent of agents"
          [value]="agent.id">
    {{agent.name}}
  </mat-option>
      </mat-select>

      </mat-form-field>

    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Height(m)</mat-label>
        <input matInput placeholder="Height" formControlName="height" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Weight(Kg)</mat-label>
        <input matInput placeholder="Weight" formControlName="weight" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput placeholder="City" formControlName="city" ngModel    required>

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Wereda</mat-label>
        <input matInput placeholder="Wereda" formControlName="wereda" ngModel  required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Kebelle</mat-label>
        <input matInput placeholder="Kebelle" formControlName="kebelle" required>
      </mat-form-field>

    </div>
    </div>
      <div>
        <div>
          <button mat-button matStepperNext>Next</button>

          <!-- <button  mat-button matStepperNext><mat-icon style="font-size: 30px;width: 30px;height: 30px;">skip_next</mat-icon> -->
          <!-- </button> -->

        </div>
      </div>

  </mat-step>
  <mat-step label="Step 2" state="school"  >
    <ng-template matStepLabel>Work Experience</ng-template>

    <div class="mat-elevation-z8 personal-dtail-container">

    <!-- <form formGroupName="workExperiences"> -->
      <div formArrayName="workExperiences">

           <div *ngFor="let row of personalInfoFormGroup['controls']['workExperiences']['controls'] let i = index" [formGroupName]="i">

          <mat-form-field color="primary" appearance="outline">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="startdate" formControlName="startDate" placeholder="Start Date">
    <mat-datepicker-toggle matIconSuffix [for]="startdate"></mat-datepicker-toggle>
    <mat-datepicker #startdate color="primary"></mat-datepicker>

</mat-form-field>
  <mat-form-field color="primary" appearance="outline">
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="enddate" formControlName="endDate" placeholder="End Date">
    <mat-datepicker-toggle matIconSuffix [for]="enddate"></mat-datepicker-toggle>
    <mat-datepicker #enddate color="primary"></mat-datepicker>
</mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <mat-select formControlName="country" required>
          <mat-option *ngFor="let country of countries" [value]="country.name">
              <span>{{country.name}}</span>
          </mat-option>
      </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Job Description</mat-label>
        <input matInput placeholder="Job" formControlName="jobDescription" required>
      </mat-form-field>
      <button (click)="onDeleteRow(i)" mat-button><mat-icon id="delete-icon">delete</mat-icon></button>

    </div>
    <div  id="add-div">
      <button mat-button (click)="initGroup()"><mat-icon id="add-icon">add</mat-icon></button>
   </div>
    </div>
    <!-- </form> -->
    </div>
    <div class="stepper-btn">

      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 3" state="contact_phone"  >
    <ng-template matStepLabel>Contact Person</ng-template>
    <div class="mat-elevation-z8 personal-dtail-container">
      <form formGroupName="contactPerson">
        <div fxLayout.gt-sm="row" fxLayout.lt-md="column">
          <div fxFlex="10%">
          </div>
        <div fxFlex.gt-sm="30%">
      <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput placeholder="Full Name" formControlName="fullName" required>
      </mat-form-field>
</div>
        <div fxFlex.gt-sm="30%">
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
      </mat-form-field>
</div>
        <div fxFlex.gt-sm="30%">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" required>
      </mat-form-field>

    </div>
    </div>

    <div fxLayout.gt-sm="row" fxLayout.lt-md="column">
      <div fxFlex="10%">
      </div>
    <div fxFlex="30%">
  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <input matInput placeholder="City" formControlName="city" required>
  </mat-form-field>

</div>

  <div fxFlex="30%">
<mat-form-field appearance="outline">
  <mat-label>Wereda</mat-label>
  <input matInput placeholder="Wereda" formControlName="wereda" required>
</mat-form-field>

</div>

  <div fxFlex="30%">
<mat-form-field appearance="outline">
  <mat-label>Kebelle</mat-label>
  <input matInput placeholder="Kebelle" formControlName="kebelle" required>
</mat-form-field>

</div>
</div>
</form>
</div>
<div class="stepper-btn">
      <button mat-button matStepperPrevious alig>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 4" state="group_work"  >
    <ng-template matStepLabel>Experienced Job</ng-template>

    <div class="mat-elevation-z8 personal-dtail-container">
      <!-- <form formGroupName="experiencedJobs"> -->

      <div formArrayName="experiencedJobs">

      <div *ngFor="let row of personalInfoFormGroup['controls']['experiencedJobs']['controls'] let i = index" [formGroupName]="i" class="ex-job-container">
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="Start">
          <div fxFlex="20%">


          </div>
          <div fxFlex="20%">

              <input matInput placeholder="Job" value="row.commonJobId.value" formControlName="commonJobId"ngModel *ngIf="hidden">
            <!-- <mat-form-field appearance="fill">
              <input matInput placeholder="Job"  value="row.commonJobName.value" formControlName="commonJobName">
            </mat-form-field> -->
            <!-- <span>{{row.commonJobName.value}}</span> -->

          </div>
          <div fxFlex="20%">
             <mat-checkbox
            class="remember-me"
            formControlName="haveExperience"
            (change)="checkExp(row)"
            color="primary">
  {{row.value.commonJobName}}
            </mat-checkbox>
            </div>
          </div>




      </div>
      </div>
      <!-- </form> -->
      </div>
      <div class="stepper-btn">
        <button mat-button matStepperPrevious alig>Back</button>
        <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 2" state="school"  >
    <ng-template matStepLabel>Benificiary Declaration</ng-template>

    <div class="mat-elevation-z8 personal-dtail-container">

    <!-- <form formGroupName="workExperiences"> -->
      <div formArrayName="insuranceBeneficiaries">

           <div *ngFor="let row of personalInfoFormGroup['controls']['insuranceBeneficiaries']['controls'] let i = index" [formGroupName]="i">

          <mat-form-field color="primary" appearance="outline">
    <mat-label>Full Name</mat-label>
    <input matInput placeholder="Full Name" formControlName="fullName">

</mat-form-field>
  <mat-form-field color="primary" appearance="outline">
    <mat-label>Relationship</mat-label>
    <mat-select formControlName="relationship" required>
      <mat-option *ngFor="let relationship of relationships"
      [value]="relationship">
{{relationshipList[relationship]}}
</mat-option>
  </mat-select>
</mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" placeholder="Address">

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Percent(%)</mat-label>
        <input matInput placeholder="Percent" formControlName="percent" required>
      </mat-form-field>
      <button (click)="onDeleteInsuranceRow(i)" mat-button><mat-icon id="delete-icon">delete</mat-icon></button>

    </div>
    <div  id="add-div">
      <button mat-button (click)="initInsuranceGroup()"><mat-icon id="add-icon">add</mat-icon></button>
   </div>
    </div>
    <!-- </form> -->
    </div>
    <div class="stepper-btn">

      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

</form>

  <mat-step label="Step 5" state="cloud_upload"  >
    <ng-template matStepLabel>Documents</ng-template>
    <div class="mat-elevation-z8 personal-dtail-container">

    <form [formGroup]="documentFormGroup">
      <div  fxLayout="row" fxLayout.xs="column" fxLayoutWrap  fxLayoutAlign="center">
        <div class="image-upload" fxFlex="40%">
          <mat-label>Applicant Passport</mat-label>
          <app-image-uploader (change)="onChangeApplicantPassport($event)" accept="image/*"></app-image-uploader>

        </div>
        <div class="image-upload" fxFlex="40%">
          <mat-label>Applicant ID</mat-label>
          <app-image-uploader (change)="onChangeApplicantId($event)" accept="image/*"></app-image-uploader>

        </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap  fxLayoutAlign="center">

        <div class="image-upload" fxFlex="40%">
          <mat-label>Contact Person Id Or Passport</mat-label>
          <app-image-uploader (change)="onChangeContactId($event)" accept="image/*"></app-image-uploader>


        </div>
        <div class="image-upload" fxFlex="40%">

          <mat-label>Applicant Short Photo</mat-label>
          <app-image-uploader (change)="onChangeApplicantShortPhoto($event)" accept="image/*"></app-image-uploader>


        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">

      <div class="image-upload" fxFlex="40%">
        <mat-label>Applicant Full Photo</mat-label>
        <app-image-uploader (change)="onChangeApplicantFullPhoto($event)"  accept="image/*"></app-image-uploader>
</div>
<div class="image-upload" fxFlex="40%">

        <mat-label>Applicant Video</mat-label>
        <app-image-uploader (change)="onChangeApplicantVideo($event)" accept="video/*"></app-image-uploader>

</div>
      </div>
      </form>
      </div>
      <div class="stepper-btn">

      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="onSubmit()" matStepperNext>Submit</button>
    </div>
  </mat-step>

  <!-- Icon overrides. -->
  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>
</mat-stepper>
